.mat-icon{
    height: 2rem;
    width: 2rem;
    margin-top: 1rem;
    margin-left: 1.8rem;
    margin-right: 1.8rem;
}
p{
    color: #976cff;
    font-family: Cedra4FWide;
}
h1{
    font-size: 4.5rem;
    font-weight: bold;
    font-family: SharpSans-Semibold;
}
h2{
    font-size: 3.5rem;
    font-weight: lighter;
    font-family: GT-America-Thin;
}
h5{
    font-weight: lighter;
    font-size: 1.1rem;
    font-family: GT-America-Regular;
    color: #7c7b7b;
}
iframe{
    width: 100%;
    height: 40rem;
}

@media (max-width: 750px) {
    h1{
      font-size: 3rem;  
    }
    h2{
        font-size: 2rem;
    }
}