<div class="container-fluid" style="padding-top: 10%;">
  <div class="row text-center">
    <div class="col-12">
      <h1>Contacto</h1>
    </div>
  </div>
  <div class="row text-center mt-5">
    <div class="col-12 social-networks">
      <p>REDES SOCIALES</p>
      <mat-icon svgIcon="twitter_blanco"></mat-icon>
      <mat-icon svgIcon="instagram_blanco"></mat-icon>
      <mat-icon svgIcon="facebook_blanco"></mat-icon>
    </div>
  </div>
  <div class="row text-center mt-5">
    <div class="col-12">
      <p>TELEFONO</p>
      <h2>82 83 32 0714</h2>
    </div>
  </div>
  <div class="row text-center mt-5">
    <div class="col-12">
      <p>CORREO</p>
      <h2>hola@beatstudio.mx</h2>
    </div>
  </div>
  <div class="row text-center mt-5">
    <div class="col-12">
      <p style="padding-top: 5%;padding-bottom: 1rem;">MAPA</p>
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3762.85121625583!2d-99.16272308461268!3d19.41883344615146!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85d1ff3a42266a93%3A0xfdfe12fb06328d3b!2sAv.%20%C3%81lvaro%20Obreg%C3%B3n%20121%2C%20Roma%20Nte.%2C%20Cuauht%C3%A9moc%2C%2006700%20Ciudad%20de%20M%C3%A9xico%2C%20CDMX!5e0!3m2!1ses!2smx!4v1591493144560!5m2!1ses!2smx" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
    </div>
  </div>
  <div class="row text-center" style="padding: 5rem 0">
    <div class="col-12">
      <p>DIRECCIÓN</p>
      <h5>Lorem ipsum dolor sit </h5>
      <h5>#332 Hermosillo, Sonora, MX.</h5>
    </div>
  </div>
</div>
