.pay-footer{
    span{
        font-family: GT-America-Medium;
    }
    font-size: 11px;
    font-family: GT-America-Light;
    color: gray;
    text-transform: uppercase;
}
.pay-header{
    
    span{
        font-family: GT-America-Regular;
        font-size: 20px;
    }
    h1{
        font-family: GT-America-Thin;
        font-size: 48px;
    }
    p{
        font-family: GT-America-Regular;
        text-transform: uppercase;
        font-size: 11px;
    }
}