.mainDiv{
  height:100%;
  width:100%;
  background-color:rgba(0,0,0,0.4);
  position:absolute;
  z-index: 100000;
  align-items: center;
}

.spinner-container{
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.spinner {
   width: 4rem;
   height: 4rem;
}

.text-primary {
  color: rgb(152, 109, 255) !important;
}
