<div class="container-fluid" style="padding-top: 10%;">
  <div class="row d-flex justify-content-center">
    <p class="primary-color">ABOUT US</p>
  </div>
  <div class="row d-flex justify-content-center">
    <h2>BeatStudio</h2>
  </div>
  <div class="row" style="padding-right: 5%;">
    <div class="col-sm-6">
      <img src="../../../assets/img/Estudio1.jpg" />
    </div>
    <div class="col-sm-6">
      <div class="row" style="font-size: 18px;">
        Power<b style="color: #9865ff;">+</b>Spin<b style="color: #9865ff;">+</b>
        Yoga<b style="color: #9865ff;">+</b>Barre
      </div>
      <div class="row" style="color:gray">
      Lorem ipsum dolor sit amet, consectetuer adipiscing nonummy nibh
      euismod tincidunt ut laoreet dolore aliquam erat volutpat. Ut wisi enim
      ad minim veniam, tation ullamcorper suscipit lobortis nisl ut aliquip ex.
      Duis autem vel eum iriure dolor in hendrerit in vulput.
    </div>
    <div class="row" style="padding-top: 3%;">
    <a href="">Conoce más aquí <mat-icon iconSvg="white_arrow"></mat-icon></a>
    </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6"></div>
    <div class="col-sm-6"></div>
  </div>
</div>