// h1 {
//     font-size: 4rem;
// }
// li{
//     font-family: GT-America-Regular;
//     color: gray;
//     font-size: 1.05rem;
//     width: 80%;
// }
.parrafo{
    padding-top: 8%;
    padding-bottom: 8%;
}
.title{
    font-family: SharpSans-Semibold;
}
.conoce-mas {
    font-weight: bold;
    color: #ffffff;
    font-size: 1.2rem;
    text-decoration: underline;
}
.mat-icon {
    font-size: 1.2rem;
}
a:hover{
        text-decoration: none;
    }
.mejores-instalaciones {
    
    .list-group {
        .list-group-item {
            border: none;
            padding: 0;
            color: gray;
            background-color: transparent;
            span {
                color: #11e579;
                font-size: 1.6rem;
                margin-right: 1.5rem;
            }
        }
    }
    .nosotros-img {
        position: absolute;
        left: -5rem;
        top: -2rem;
        width: 60%;
    }
    .instalaciones-img {
        margin-top: 10rem;
    }
}
.disciplinas{
    font-family: SharpGroteskSM15R;
    margin-top: 10%;
    margin-bottom: 12%;
    .p-relative-left{
        position: relative;
        left: 19%;
    }
    .p-relative-right{
        position: relative;
        right: 17%;
    }
}
.forma-parte{
    padding-top: 10%;
    padding-bottom: 10%;
    font-family: SharpGroteskSM15R;
    background-color: #d8d8d8;
    h1{
        color: #000000;
        font-weight: bold;
    }
   
    img{
        width: 100%;
    }
    .btn{
        font-weight: bold!important;
        padding: .8rem 3rem .8rem 3rem;
    }
    .btn-outline{
        color: #000000!important;
        background-color: transparent!important;
    }
    .btn-purple{
        color: #ffffff!important;
        background-color: #986dff!important;
        margin-left: 2rem;
    }
}
.coaches{
    padding-top: 8%;
    padding-bottom: 5%;
    img{
        width: 100%;
    }
    .bg-coaches{
        height: 40rem;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
    h5{
        color: #ffffff;
        margin-top: 3rem;
        font-size: 1.4rem;
        font-family: GT-America-Medium;
    }
}

.familia{
    font-size: 5rem;
}

// @media (max-width: 1180px) {
//     .mejores-instalaciones{
//         .nosotros-img{
//             left: -4rem;
//             top: 1rem;
//         }
//     }
// }

// @media (max-width: 1104px) {
//     .forma-parte{
//         .btn{
//             padding: 0.8rem 1rem 0.8rem 1rem;
//         }
//         .btn-purple{
//             //margin-top: 2rem;
//             margin-left: 1rem;
//         }
//     }
// }
@media (max-width: 985px) {
    .familia{
        font-size: 2rem;
    }
    h3{
        font-size: 1rem;
    }
}
// @media (max-width: 575px) {
//     .mejores-instalaciones{
//         margin-top: 2rem;
//     }
// }
@mixin md-icon-size($size: 24px) {
    font-size: $size;
    height: $size;
    width: $size;
    line-height: $size;
    margin-top: -8px;
  }
.info-widget {
    display: inline-block;
    margin-right: 40px;
  }

  .middle {
    float: left;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
  }

  .image-viewer{
      overflow:hidden;
  }

  .next-button{
      outline: none;
      position: absolute;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background-color: white;
    border:0;
    mat-icon{
        @include md-icon-size(38px);
        display: inline-flex;
    vertical-align: top;
    margin-top: 1px;
      }
  }
  .widget-text{
    word-wrap: break-word !important;
    width: 100px !important;
  }