.mat-icon {
    font-size: 1.5rem;
}

a:hover {
    text-decoration: none;
}

.section1 {
    padding: 0 4% 0 4%;

    .text-part {
        padding-left: 65px;
        padding-top: 150px;
        p{
            width: 80%;
        }
    }

    img {
        margin-top: 50px;
    }
}


.mejores-instalaciones {
    margin-top: 120px;

    .text-part {
        padding-left: 50px;
        padding-top: 120px;
        p{
            width: 80%;
        }
    }

    .list-group {
        .list-group-item {
            border: none;
            padding: 0;
            color: gray;
            background-color: transparent;

            span {
                color: #11e579;
                font-size: 1.6rem;
                margin-right: 1.5rem;
            }
        }
    }
}

.section3 {
    margin-top: 120px;
    margin-bottom: 120px;
}

.disciplinas {
    font-family: SharpGroteskSM15R;

    h3 {
        font-size: 24px;
    }

    margin-top: 100px;
    margin-bottom: 100px;

    .p-relative-left {
        position: relative;
        left: 19%;
    }

    .p-relative-right {
        position: relative;
        right: 17%;
    }
}

.forma-parte {
    padding-top: 80px;
    padding-bottom: 80px;

    .familia-buttons {
        padding-top: 5%;
        padding-bottom: 5%;
    }

    background-color: #d8d8d8;

    h1 {
        margin-top: 10%;
        color: #000000;
        font-weight: bold;
        font-family: SharpGroteskSM15R;
        letter-spacing: -2px;
        font-size: 5rem;
    }

    img {
        width: 100%;
    }
}

.familia {
    font-size: 5rem;
}


@media (max-width: 992px) {
    .section1 {
        padding: 0;

        .text-part {
            padding-left: 0;
            padding-top: 80px;

            p {
                width: 100% !important;
            }
        }

        img {
            margin-top: 50px;
        }
    }

    .mejores-instalaciones {
        margin-top: 50px;

        .text-part {
            padding-left: 0;
            padding-top: 80px;

            p {
                width: 100% !important;
            }
        }

        img {
            margin-top: 50px;
            padding-left: 5%;
        }
    }

    .familia {
        font-size: 3rem !important;
    }

    h3 {
        font-size: 1rem !important;
    }
}

@media (max-width: 576px) {
    .section1 {
        padding: 0;

        .text-part {
            padding-left: 0;
            padding-top: 50px;

            p {
                width: 100% !important;
            }
        }

        img {
            margin-top: 50px;
        }
    }

    .mejores-instalaciones {
        margin-top: 50px;

        .text-part {
            padding-left: 0;
            padding-top: 50px;

            p {
                width: 100% !important;
            }
        }

        img {
            margin-top: 50px;
            padding-left: 10%;
        }
    }

    .forma-parte {
        padding-top: 50px;
        padding-bottom: 50px;
    }
}

@mixin md-icon-size($size: 24px) {
    font-size: $size;
    height: $size;
    width: $size;
    line-height: $size;
    margin-top: -8px;
}

.info-widget {
    display: inline-block;
    margin-right: 40px;
}

.middle {
    float: left;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
}

.image-viewer {
    overflow: hidden;
}

.next-button {
    outline: none;
    position: absolute;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background-color: white;
    border: 0;

    mat-icon {
        @include md-icon-size(38px);
        display: inline-flex;
        vertical-align: top;
        margin-top: 1px;
    }
}

.widget-text {
    word-wrap: break-word !important;
    width: 100px !important;
}

.see-more {
    mat-icon {
        @include md-icon-size(32px);
        display: inline-flex;
        vertical-align: top;
        margin-top: 4px;
    }
}


.phrase-info {
    width: 100%;
}
@media only screen and(max-width: 376px) {
    .phrase-info {
        width: 20% !important;
       p {
        margin-left: 10%;
        word-break: break-all;
       }
    }
}