<!-- <div *ngIf="loading">
    <app-loader></app-loader>
  </div> -->
<div class="container fluid" style="padding-top: 10%">
  <div class="row" style="padding-bottom: 5%;">
    <div class="col-12 d-flex justify-content-center">
      <h1 class="sections-titles">Resumen de Compra</h1>
    </div>
  </div>
  <div class="row d-flex justify-content-center">
    <div class="col-12 col-sm-12 col-md-8 col-lg-6 col-xl-5">
      <div class="row pr-3 pl-3">
        <div class="col-12 d-flex justify-content-between">
          <div class="t-title pt-2">
            PAQUETE/PRODUCTO
          </div>
          <div class="p-name">
            {{ paquete.creditos }} créditos.<br />
            <p>Expira en 30 dias.</p>
          </div>
        </div>
      </div>
      <mat-divider></mat-divider>
      <div class="row pr-3 pl-3 pt-3 pb-3">
        <div class="col-12 d-flex justify-content-between">
          <div class="t-title pt-2">TOTAL</div>
          <div class="total">{{paquete.precio | currency: 'MXN'}}</div>
        </div>
      </div>
      <mat-divider></mat-divider>
      <div class="row" *ngIf="tieneTarjeta" style="margin-bottom: 10%; margin-top: 10%;">
        <div class="col-12">
          <mat-card style="background: rgb(24, 24, 24) !important; margin-bottom: 5%;">
            <div class="row d-flex justify-conent-between">
              <div class="col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">
                <img style="width: 90%;" *ngIf="p.numero_tarjeta[0] === '5'"
                  src="../../../assets/img/master_card.png" />
                <img style="width: 90%;" *ngIf="p.numero_tarjeta[0] === '4'" src="../../../assets/img/visa.png" />
              </div>
              <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                <div class="card-info">
                  {{p.titular}} <br />
                  {{ p.numero_tarjeta | creditCard }}
                </div>
              </div>
              <div class="col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3 pt-2">
                <p class="primary-color pl-3" style="cursor: pointer;" (click)="cambiarForma()">Cambiar</p>
              </div>
            </div>
          </mat-card>
        </div>
      </div>
      <div *ngIf="!tieneTarjeta" class="row justify-content-center pt-5 pb-5">
        <div class="row d-flex justify-content-center primary-color add-new"
          style="cursor: pointer;font-size: 20px;" (click)="agregarForma()">
          <mat-icon style="margin-top: 3px;">add</mat-icon> Agregar otra forma de pago
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col col-sm col-xs col-md col-lg">
        <!-- <app-paypal [total]="paquete.precio"></app-paypal> -->
        <ngx-paypal [config]="payPalConfig"></ngx-paypal>
      </div>
      </div>
      <div class="row d-flex justify-content-center" style="padding-top: 10%; margin-bottom: 40%;">
        <div class="col-12 d-flex justify-content-between pr-5 pl-5">
          <button mat-stroked-button class="button-new" (click)="back()">CANCELAR</button>
          <button mat-stroked-button class="button-new" (click)="pagar()">PAGAR AHORA</button>
        </div>
      </div>
    </div>
  </div>
</div>