.beatspin-title{
    span{
        color: #9865ff;
    }
}
.beatspin-video{
    margin-top: 6%;
    .video{
        text-align: center;
        img{
            width: 100%;
            margin: 0 auto;
        }
    }
}

.benefits {
    .list-group {
        .list-group-item {
            border: none;
            padding: 0;
            color: gray;
            background-color: transparent;
            span {
                color: #11e579;
                font-size: 1.6rem;
                margin-right: 1.5rem;
            }
        }
    }
    p{
        color: gray;
    }
    a{
        color: #ffffff;
        text-decoration: underline;
    }
    img{
        width: 100%;
    }
}

.complements{
    margin-top: 12%;
    margin-bottom: 5%;
    p{
        color: gray;
        width: 40%;
        margin: 0 auto;
        margin-top: 2rem;
    }
}

@media (max-width: 1120px) {
    .complements{
        h1{
            font-size: 3rem;
        }
        p{
            width: 60%;
        }
    }
}

@media (max-width: 991px) {
    .benefits{
        .benefits-img{
            width: 100%;
        }
    }
}

@media (max-width: 768px) {
    .complements{
        h1{
            font-size: 2rem;
        }
        p{
            width: 70%;
        }
    }
}

@media (max-width: 676px) {
    .complements{
        p{
            width: 80%;
        }
    }
}