.registro{
    padding-top: 5rem;
}
form{
    font-family: GT-America-Regular;
}
mat-form-field{
    width: 100%;
    padding-bottom: 20px;
}
mat-form-field mat-label {
    color: #929191;
}
input{
    width: 100%;
}
.form-part{
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #111111;
}
a{
    border-bottom: 1px solid #ffffff;
    cursor: pointer;
}

.container-custom {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 0px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default checkbox */
  .container-custom input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    border-radius:50%;
    background-color: rgb(173, 171, 171);
    transition:background-color 250ms;
  -moz-transition:background-color 250ms;
  -webkit-transition:background-color 250ms;
  -o-transition:background-color 250ms;
  }
  
  /* On mouse-over, add a grey background color */
  .container-custom:hover input ~ .checkmark {
    background-color: rgb(122, 122, 122);
  }
  
  /* When the checkbox is checked, add a blue background */
  .container-custom input:checked ~ .checkmark {
    background-color: #fff;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .container-custom input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .container-custom .checkmark:after {
    left: 9px;
    top: 5px;
    width: 8px;
    height: 12px;
    border: solid #000;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }