<div *ngIf="loading">
  <app-loader></app-loader>
</div>
<div class="registro" *ngIf="!registered">
  <div class="row d-flex justify-content-center pb-5">
    <h1 class="sections-titles">Regístrate</h1>
  </div>
  <form #form="ngForm" novalidate (ngSubmit)="registrarCliente()" [formGroup]="group">
    <div class="row d-flex justify-content-center">
      <div class="col-11 col-sm-11 col-md-10 col-lg-8 col-xl-6">
        <div class="row form-part justify-content-center"  style="padding-top: 40px !important;">
          <div class="col-10 col-sm-10 col-md-5 col-lg-5 col-xl-5">
            <mat-form-field>
              <mat-label>Nombre</mat-label>
              <input matInput type="text" id="txtName" formControlName="txtName">
            </mat-form-field>
          </div>
          <div class="col-10 col-sm-10 col-md-5 col-lg-5 col-xl-5">
            <mat-form-field>
              <mat-label>Apellido</mat-label>
              <input matInput  type="text" id="txtLastName" formControlName="txtLastName">
            </mat-form-field>
          </div>
        </div>
        <div class="row form-part justify-content-center" >
          <div class="col-10 col-sm-10 col-md-10 col-lg-10 col-xl-10">
            <mat-form-field>
              <mat-label>Correo electrónico</mat-label>
              <input matInput type="text" id="txtEmail" formControlName="txtEmail">
            </mat-form-field>
          </div>
        </div>
        <div class="row form-part justify-content-center">
          <div class="col-10 col-sm-10 col-md-5 col-lg-5 col-xl-5">
            <mat-form-field>
              <mat-label>Contraseña</mat-label>
              <input matInput [type]="hide ? 'password' : 'text'"  type="password" id="txtPassword" formControlName="password">
              <button type="button" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
              </button>
            </mat-form-field>
          </div>
          <div class="col-10 col-sm-10 col-md-5 col-lg-5 col-xl-5">
            <mat-form-field>
              <mat-label>Teléfono de contacto</mat-label>
              <input matInput type="number" formControlName="txtPhone">
            </mat-form-field>
          </div>
        </div>
        <div class="row form-part justify-content-center" >
          <div class="col-10 col-sm-10 col-md-5 col-lg-5 col-xl-5">
            <mat-form-field>
              <mat-label>Contacto de emergencia</mat-label>
              <input matInput type="text" id="txtContact" formControlName="txtContact">
            </mat-form-field>
          </div>
          <div class="col-10 col-sm-10 col-md-5 col-lg-5 col-xl-5">
            <mat-form-field>
              <mat-label>Teléfono de emergencia</mat-label>
              <input matInput type="text" id="txtPhone" formControlName="txtContactPhone">
            </mat-form-field>
          </div>
        </div>
        <div class="row form-part justify-content-center" >
          <div class="col-10 col-sm-10 col-md-5 col-lg-5 col-xl-5">
            <mat-form-field>
              <mat-label>Talla de calzado (US)</mat-label>
              <input matInput type="number" id="txtSize" formControlName="txtSize">
            </mat-form-field>
          </div>
          <div class="col-10 col-sm-10 col-md-5 col-lg-5 col-xl-5">
            <mat-form-field>
              <mat-label>Fecha de nacimiento</mat-label>
              <input matInput [matDatepicker]="picker" formControlName="birthDate">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
          </div>
        </div>
        <div class="row form-part justify-content-center pb-5">
          <div class="col-10">
            <label class="container-custom"> 
              <input type="checkbox" formControlName="terms">
              <span class="checkmark"></span>
            </label>
            <label style="margin-left: 40px;">He leído y acepto los <a>Términos y condiciones</a> y el <a>Aviso de privacidad</a></label>
          </div>
        </div>
        <div class="row justify-content-center pt-5 pb-5">
          <button mat-stroked-button [disabled]="group.invalid" type="submit" class="button-new">REGISTRARME</button>
        </div>
      </div>
    </div>
  </form>
</div>
<div class="exitoso" *ngIf="registered">
  <div class="row d-flex justify-content-center pb-3">
    <h5 class="beat-algo" style="font-size: 1rem !important;"><span>¡LISTO!</span></h5>
  </div>
  <div class="row d-flex justify-content-center pb-3">
    <h1 class="sections-titles">Tu registro fue exitoso</h1>
  </div>
  <div class="row d-flex justify-content-center pb-5">
    <p class="sections-info-text pb-5">Hemos enviado un correo de confirmación a {{cliente.correo}}</p>
  </div>
</div>
<!-- <div class="container-fluid text-center">
  <form #form="ngForm" (ngSubmit)="registrarCliente()" [formGroup]="group" novalidate>
    <h3>Registrate</h3>
    <mat-form-field>
      <mat-label>Nombre</mat-label>
      <input matInput type="text" id="txtName" formControlName="txtName">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Apellido</mat-label>
      <input matInput type="text" id="txtLastName" formControlName="txtLastName">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Correo</mat-label>
      <input matInput type="email" id="txtEmail" formControlName="txtEmail">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Contraseña</mat-label>
      <input matInput type="password" id="txtPassword" formControlName="password">
    </mat-form-field>
    <button class="button-black" type="submit">REGISTRASE</button>
  </form>
</div> -->