#section1 img {
  display: block;
  margin: auto;
}
.home-image {
  background-image: url("../../../assets/img/home_page.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 43.25em;
  width: 100%;
}

.seccion-disciplinas {
  background: #ffffff !important;
  color: #000000;
  padding-top: 5%;
}
.seccion-videos {
  background: #ffffff !important;
  color: #000000;
  padding-top: 5%;
  width: 100%;
}
.cover-video {
  background-image: url("../../../assets/img/video.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 35em;
  width: 90%;
}

.img-format {
  cursor: pointer;
  transition: opacity 0.6s;
}
.img-format:hover {
  opacity: 0.4;
}
.div-degradado {
  background: #ffffff;
}
.div-degradado:hover {
  background: linear-gradient(to top, rgb(255, 255, 255), rgb(152, 109, 255));
}
.text-color {
  color: rgb(152, 109, 255);
}
.div-imagen {
  display: inline-block;
  position: relative;
}

.div-imagen > div {
  position: absolute !important;
  top: 0 !important;
  left: 0 !important;
  z-index: -1 !important;
  padding: 10px !important;
  margin: 0 !important;
}

.desvanecer:hover {
  opacity: 0.4;
  -webkit-transition: opacity 500ms;
  -moz-transition: opacity 500ms;
  -o-transition: opacity 500ms;
  -ms-transition: opacity 500ms;
  transition: opacity 500ms;
  cursor: pointer;
}

.seleccion {
  color: #000000;
  font-style: bold;
}
.seleccion:hover .text-color .titulo-color {
  color: #000000;
  font-style: bold;
}
.contenedor {
  position: relative;
  display: inline-block;
  text-align: center;
}

.contenedor:hover > div > div > p {
  color: #000000;
  font-style: bold;
}

.centrado {
  position: absolute;
  top: 90%;
  left: 45%;
  transform: translate(-50%, -50%);
}

.contenedor:hover .ocultar {
  display: inline;
}
.ocultar {
  top: 0;
  // right: 15%;
  display: none;
  padding-right: 5px;
  position: relative;
  width: 200px;
}

.cambiar-color:hover > p{
  color: #000000;
  font-style: bold;
}
.titulo-color {
  color: #ffffff;
}

.seccion-rutinas {
  background: #ffffff !important;
  color: #000000;
}
.seccion-coaches {
  background: #ffffff !important;
  color: #000000;
  padding-top: 5%;
}

.seccion-social {
  background: #000000;
  color: #ffffff;
  padding-top: 5%;
}

.work-section {
  background-image: url("../../../assets/img/work_cover.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 43.25em;
  width: 100%;
}

.rutinas2-back {
  background-image: url("../../../assets/img/rutina2.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 43.25em;
  width: 100%;
}

.seccion-musica {
  padding-top: 10%;
}

mat-tab-group {
  mat-tab {
    .mat-tab-header {
      margin-left: 30%;
    }
  }
}

@media only screen and(max-width: 840px) {
  .seccion-coaches > div > div > a {
    widows: 18em;
  }
}

.sobreponer {
  position: absolute;
  margin-top: 55%;
}

@font-face {
  font-family: titlesFont;
  src: url('../../../assets/fonts/Sharp\ Sans\ No.1/Sharp\ Sans\ No1\ -\ Semibold.otf');
}

@font-face {
  font-family: infoTextFont;
  src: url('../../../assets/fonts/Sharp\ Sans\ No.1/Sharp\ Sans\ No1\ -\ Medium.otf');
}

@font-face {
  font-family: newButtonText;
  src: url('../../../assets/fonts/Cedra\ 4F/Cedra4F-WideUltraLight.otf');
}

.sections-titles{
  font-family: titlesFont;
  font-size: 62px;
  padding-bottom: 24px;
}

.sections-info-text{
  font-family: infoTextFont;
  font-size: 16px;
  color: #beb9b9;
}

.button-new{
  background-color: #976cff;
  font-family: newButtonText;
  color: #ffffff;
  letter-spacing: 1px;
  font-size: 14px;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 6px;
  padding-top: 6px;
  border-radius: 0px;
  border: 2px solid #976cff;
}

.button-new:hover{
  background-color: #000000;
  border-radius: 0px;
  border: 2px solid #976cff;
}