<div class="container-fluid">
  <!-- Secciòn principal -->
  <div class="row">
    <div id="seciton1" class="home-image col-sm">
      <div class="row d-flex justify-content-center">
        <h1 style="font-size: 7.567em">Ride. Tone. Stretch.</h1>
      </div>
      <div class="row d-flex justify-content-center">
        <button mat-stroked-button>Reservar</button>
        <span style="width: 2em"></span>
        <button mat-stroked-button>Comprar</button>
      </div>
    </div>
  </div>
  <!-- Secciòn de disciplinas-->
  <div class="row">
    <div id="section2" class="seccion-disciplinas col-sm">
      <div class="row d-flex justify-content-center">
        <h1 style="font-size: 3.567em">Nuestras disciplinas</h1>
      </div>
      <div class="row d-flex justify-content-center" style="margin-top: 2.3em; font-size: 1.6em;">
        Lorem ipsum dolor sit amet, consectetuer adipiscing elit,<br />
        sed diam nonummy nibh euismod tincidunt ut laoreet dolore
      </div>
      <div id="coversDiv" class="row" style="margin-top: 2.3em;">
        <div *ngFor="let i of covers; let x = index" style="margin: 1.5em;" class="contenedor col-sm">
          <div class="col-sm centrado">
            <div class="row d-flex justify-content-center cambiar-color">
              <p class="text-color" style="font-size: 28px;">BEAT</p>
              <p class="titulo-color" style="font-size: 28px;">{{i.title}}</p>
            </div>
            <div style="margin-left: 2%;" class="row d-flex justify-content-center">
              <p class="ocultar text-color">Ver más ></p>
            </div>
          </div>
          <div class="div-degradado">
            <img [src]="i.url" class="desvanecer" style="width: 100%" />
          </div>
        </div>
      </div>
      <div class="row d-flex justify-content-center">
        <a href="#" style="color: #000000;"><b>Conoce más de nuestras disciplinas aquí</b></a>
        <mat-icon>arrow_forward</mat-icon>
      </div>
    </div>
  </div>
  <!-- video cover -->
  <div class="row">
    <div id="section3" class="col-sm seccion-videos" style="width: 100%; padding-left: 10%;">
      <div class="row d-flex justify-content-center cover-video">
        <img style="height: 20%; margin-top: 20%;" src="../../../assets/img/play.png" />
      </div>
    </div>
  </div>
  <!-- Secciones de coaches y rutinas -->
  <div class="row">
    <div id="section5" class="seccion-coaches col-sm">
      <div class="row d-flex justify-content-center" style="padding-left: 5%;">
        <div class="col-sm">
        <img  style="width: 26em;" src="../../../assets/img/Yoga.jpg" />
        <img  style="width: 22em;" class="sobreponer" src="../../../assets/img/Coaches.jpg" />
        </div>
        <div class="col-sm">
          <h1>Los mejores coaches</h1>
          <div>
            Lorem ipsum dolor sit amet, consectetuer ading<br />
            elit, sed diam nonummy nibh euismod tincidunt<br />
            laoreet lore sed dam it amet elit, sed euis diam. <br />
          </div>
          <div style="margin-top:15%;"><button mat-stroked-button (click)="goToCoaches()">Conócelos</button></div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div id="section4" class="seccion-rutinas col-sm">
      <div class="row d-flex justify-content-center" style="padding-bottom: 5%;">
        <div class="col-sm">
          <h1>Las mejores rutinas</h1>
          <div style=" margin-top: 5%;">
            Lorem ipsum dolor sit amet, consectetuer ading<br />
            elit, sed diam nonummy nibh euismod tincidunt<br />
            laoreet lore sed dam it amet elit, sed euis diam. <br />
          </div>
          <div style="margin-top:15%;"><button>Conócelas</button></div>
        </div>
        <img style="width: 42em; padding-right: 2%;" src="../../../assets/img/rutina2.png" />
      </div>
    </div>
  </div>
   <!-- seccion de redes sociales -->
  <div class="row" style="padding-bottom: 10%;">
    <div id="section6" class="seccion-social col-sm">
      <div class="row d-flex justify-content-center">
        <p class="primary-color">Nuestra</p> &nbsp; Comunidad
      </div>
      <div style="color: #ffffff; font-size: 18px;" class="row d-flex justify-content-center">
        <b>Etiquétanos en instagram y usa el hashtag #beat..? @BeatStudio</b>
      </div>
      <div class="row d-flex justify-content-center">
        <div class="col-sm" *ngFor="let i of socialMedia">
          <img style="width:100%;" [src]="i.imageUrl" />
          <p class="primary-color">{{ i.fecha | date:"longDate" }}</p>
          {{ i.descripcion }}
          <br />
          <a [href]="i.profileUrl">{{ i.usuario }}</a>
        </div>
        <div style="padding-top: 10%">
          <mat-icon class="primary-color">arrow_forward</mat-icon>
        </div>
      </div>
    </div>
  </div>
  <!-- seeción de imagen de gym -->
  <div class="row">
    <div id="section7" class="work-section" style="width: 100%"></div>
  </div>
  <!-- Sección de música -->
  <div class="row">
    <div id="section8" class="col-sm seccion-musica" style="padding-bottom: 5%;">
      <div class="row d-flex justify-content-center">
          <b>¡Ahora puedes escuchar tus canciones favoritas</b>
      </div>
      <div class="row d-flex justify-content-center">
          <b>de BeatStudio donde quieras!</b>
      </div>
      <div class="row d-flex justify-content-center" style="padding-top: 5%;">
        <mat-tab-group mat-stretch-tabs [selectedIndex]="2">
          <mat-tab [disabled]="true"></mat-tab>
          <mat-tab [disabled]="true"></mat-tab>
          <mat-tab label="Esta semana">
            <div class="row d-flex justify-content-center" style="width: 90%">
              <div class="col-sm" *ngFor="let s of semana" style="padding-top: 5%; margin-left: 4%">
                <div>
                  <img [src]="s.url" /> <br />
                  <label style="color: #ffffff">{{s.titulo}}</label><br />
                  <label style="color: #BDBDBD">{{s.artista}}</label>
                </div>
              </div>
            </div>
            <!-- <div class="row d-flex justify-content-center"  style="width: 90%">
              <div class="col-sm" style="padding-top: 4%;" *ngFor="let s of semana">
                <div class="col-sm">
                  <iframe style="margin:4%;" [src]="cleanUrl(s.url)" style="width: 100%; height: 100px;" frameborder="0"
                    allowtransparency="true" allow="encrypted-media"></iframe>
                  <form>
                    <mat-form-field>
                      <mat-label>{{s.titulo}}</mat-label>
                      <input matInput [value]="s.artista" readonly>
                    </mat-form-field>
                  </form>
                </div>
              </div>
            </div> -->
          </mat-tab>
          <mat-tab label="Nuesrtas Favoritas">
              <div class="row d-flex justify-content-center" style="width: 90%">
                  <div class="col-sm" *ngFor="let s of semana" style="padding-top: 5%; margin-left: 4%">
                    <div>
                      <img [src]="s.url" /> <br />
                      <label style="color: #ffffff">{{s.titulo}}</label><br />
                      <label style="color: #BDBDBD">{{s.artista}}</label>
                    </div>
                  </div>
                </div>
            <!-- <div class="row d-flex justify-content-center"  style="width: 90%">
              <div class="col-sm" style="padding-top: 4%;" *ngFor="let s of favoritas">
                <div class="col-sm">
                  <iframe style="margin:4%;" [src]="cleanUrl(s.url)" style="width: 100%; height: 100px;" frameborder="0"
                    allowtransparency="true" allow="encrypted-media"></iframe>
                  <form class="example-form">
                    <mat-form-field>
                      <mat-label>{{s.titulo}}</mat-label>
                      <input matInput [value]="s.artista" readonly>
                    </mat-form-field>
                  </form>
                </div>
              </div>
            </div> -->
          </mat-tab>
          <mat-tab [disabled]="true"></mat-tab>
          <mat-tab [disabled]="true"></mat-tab>
        </mat-tab-group>
      </div>
    </div>
  </div>
</div>
