<div style="width: 100%;">
  <!-- Secciòn principal -->
  <div class="row d-flex justify-content-center mt-3 text-center">
    <h1 class="mt-3" style="font-size: 6.567em; font-family: SharpSans-Semibold;padding-top: 5%;padding-bottom: 1%;">
      Ride. Tone. Stretch.</h1>

  </div>
  <div class="home-image mt-3 w-100">
    <div class="d-flex justify-content-center">
      <button mat-stroked-button class="button-new">RESERVAR</button>
      <span style="width: 2em"></span>
      <button mat-stroked-button class="button-new">COMPRAR</button>
    </div>
  </div>
  <!-- Secciòn de disciplinas-->
  <div class="row">
    <div id="section2" class="seccion-disciplinas col-sm">
      <div class="row ">
        <div class="col-12 col-sm-12 col-md-12 col-xl-12 d-flex justify-content-center text-center">
          <h1 class="sections-titles">Nuestras disciplinas</h1>
        </div>
      </div>
      <div class="row  d-flex justify-content-center">
        <div class="col-10 col-sm-10 col-md-4 col-xl-4">
          <p class="sections-info-text" style="text-align: center;">Lorem ipsum dolor sit amet, consectetuer adipiscing
            elit,
            sed diam nonummy nibh euismod tincidunt ut laoreet dolore</p>
        </div>
      </div>
      <div id="coversDiv" class="row" style="margin-top: 2.3em;margin-left: 1.5em; margin-right: 1.5em;">
        <div *ngFor="let i of covers; let x = index" style="margin-bottom: 1.5em;" class="contenedor col-sm">
          <div class="col-sm centrado">
            <div class="row d-flex justify-content-center cambiar-color text-center">
              <p class="text-color" style="font-size: 28px;font-family: Cedra4FWide;letter-spacing: 1px;">BEAT</p>
              <p class="titulo-color" style="font-size: 28px;font-family: Cedra4FWide;letter-spacing: 1px;">
                {{i.title}}</p>
            </div>
            <div style="margin-left: 2%;" class="row d-flex justify-content-center">
              <p class="ocultar text-color">Ver más ></p>
            </div>
          </div>
          <div class="div-degradado">
            <img [src]="i.url" class="desvanecer" style="width: 100%" />
          </div>
        </div>
      </div>
      <div class="row d-flex justify-content-center mt-3">
        <a href="#" style="color: #000000; font-family: GT-America-Light;"><b>Conoce más de nuestras disciplinas
            aquí</b></a>
        <mat-icon>arrow_forward</mat-icon>
      </div>
    </div>
  </div>
  <!-- video cover -->
  <div class="row">
    <div id="section3" class="col-sm seccion-videos">
      <div class="row d-flex justify-content-center ">
        <div class="col-11 col-sm-11 col-md-11 col-xl-11 cover-video">
          <div class="row d-flex justify-content-center">
            <div class="col-4 col-sm-4 col-md-1 col-xl-1">
              <img style="margin-top: 300%;" src="../../../assets/img/SVG/Play_video grande.svg" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Secciones de coaches y rutinas -->
  <div class="row">
    <div id="section5" class="seccion-coaches col-sm">
      <div class="row d-flex justify-content-center">
        <div class="col-10 col-sm-10 col-md-5 col-xl-5">
          <img style="position: relative;;width: 75%;" src="../../../assets/img/Yoga.jpg" />
          <img style="position: relative;;width: 65%; top: -16%; left: 30%;" src="../../../assets/img/Coaches.jpg" />
        </div>
        <div class="col-10 col-sm-10 col-md-5 col-xl-5">
          <h1 class="sections-titles">Los mejores coaches</h1>
          <p class="sections-info-text">
            Lorem ipsum dolor sit amet, consectetuer ading
            elit, sed diam nonummy nibh euismod tincidunt
            laoreet lore sed dam it amet elit, sed euis diam.
          </p>
          <div style="margin-top:15%;">
            <button class="button-new mb-3" mat-stroked-button (click)="goToCoaches()">CONÓCELOS</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div id="section4" class="seccion-rutinas col-sm" style="padding-bottom: 10%;">
      <div class="row d-flex justify-content-center">
        <div class="col-10 col-sm-10 col-md-5 col-xl-5">
          <h1 class="sections-titles">Las mejores rutinas</h1>
          <p class="sections-info-text">
            Lorem ipsum dolor sit amet, consectetuer ading
            elit, sed diam nonummy nibh euismod tincidunt
            laoreet lore sed dam it amet elit, sed euis diam.
          </p>
          <div style="margin-top:15%;">
            <button class="button-new mb-3" mat-stroked-button>CONÓCELAS</button>
          </div>
        </div>
        <div class="col-10 col-sm-10 col-md-5 col-xl-5">
          <img style="width: 100%;" src="../../../assets/img/rutina2.png" />
        </div>
      </div>
    </div>
  </div>
  <!-- seccion de redes sociales -->
  <div class="row" style="padding-bottom: 10%;">
    <div id="section6" class="seccion-social col-sm">
      <div class="row" style="font-family: Cedra4FWide;padding-top: 6%;">
        <div class="col-12 col-sm-12 col-md-12 col-xl-12 d-flex justify-content-center text-center">
          <span class="primary-color">Nuestra</span> &nbsp; <span>Comunidad</span>
        </div>
      </div>
      <div class="row d-flex justify-content-center">
        <div class="col-12 col-sm-12 col-md-12 col-xl-12 d-flex justify-content-center text-center">
          <b style="color: #ffffff; font-size: 18px; font-family: GT-America-Light;padding-bottom: 3%;">
            Etiquétanos en instagram y usa el hashtag #beat..? @BeatStudio
          </b>
        </div>
      </div>
      <div class="row d-flex justify-content-center">
        <div class="col-10 col-sm-10 col-md-3 col-xl-3" *ngFor="let i of socialMedia" style="padding:2%;">
          <img style="width:100%;" [src]="i.imageUrl" />
          <p class="primary-color"
            style="font-family: Cedra4FWide;;letter-spacing: 1px; font-size: 12px;text-transform: uppercase; margin-top: 20px;">
            {{ i.fecha | date:"longDate" }}
          </p>
          <p style="font-family: GT-America-Light">
            {{ i.descripcion }}
          </p>
          <a style="font-family: GT-America-Light; color: #ffffff; text-decoration: underline; font-size: 12px; "
            [href]="i.profileUrl">
            {{ i.usuario }}
          </a>
        </div>
        <div style="padding-top: 10%">
          <mat-icon class="primary-color">arrow_forward</mat-icon>
        </div>
      </div>
    </div>
  </div>
  <!-- seeción de imagen de gym -->
  <img src="../../../assets/img/work_cover.png" style="width: 100%;" alt="">
  <!-- Sección de música -->
  <div class="row d-flex justify-content-center text-center" style="padding-top: 5%; padding-bottom: 5%;">
    <div class="col-12 col-sm-12 col-md-4 col-xl-4">
      <p style="font-family: GT-America-Light; font-size: 20px;">¡Ahora puedes
        escuchar tus canciones favoritas de BeatStudio donde quieras!</p>
    </div>
  </div>
  <div class="row d-flex justify-content-center" style="padding-bottom: 5%;">
    <div class="col-12 col-sm-12 col-md-12 col-xl-12>">
      <mat-tab-group mat-align-tabs="center">
        <mat-tab label="Esta semana">
          <div class="row d-flex justify-content-center" style="max-width: 100%;
          overflow-x: hidden;">
            <div class="col-10 col-sm-10 col-md-2 col-xl-2 justify-content-center" *ngFor="let s of semana"
              style="padding-top: 5%;font-family: GT-America-Light;">
              <img [src]="s.url" style="width: 100%;" />
              <label style="color: #ffffff;padding-top: 15%;">{{s.titulo}}</label><br>
              <label style="color: #9c9c9c">{{s.artista}}</label>
            </div>
          </div>
          <!-- <div class="row d-flex justify-content-center"  style="width: 90%">
            <div class="col-sm" style="padding-top: 4%;" *ngFor="let s of semana">
              <div class="col-sm">
                <iframe style="margin:4%;" [src]="cleanUrl(s.url)" style="width: 100%; height: 100px;" frameborder="0"
                  allowtransparency="true" allow="encrypted-media"></iframe>
                <form>
                  <mat-form-field>
                    <mat-label>{{s.titulo}}</mat-label>
                    <input matInput [value]="s.artista" readonly>
                  </mat-form-field>
                </form>
              </div>
            </div>
          </div> -->
        </mat-tab>
        <mat-tab label="Nuestras favoritas">
          <div class="row d-flex justify-content-center" style="max-width: 100%;
          overflow-x: hidden;">
            <div class="col-10 col-sm-10 col-md-2 col-xl-2 justify-content-center" *ngFor="let s of semana"
              style="padding-top: 5%;font-family: GT-America-Light;">
              <img [src]="s.url" style="width: 100%;" />
              <label style="color: #ffffff;padding-top: 15%;">{{s.titulo}}</label><br>
              <label style="color: #9c9c9c">{{s.artista}}</label>
            </div>
          </div>
          <!-- <div class="row d-flex justify-content-center" style="width: 90%">
            <div class="col-12 col-sm-12 col-md-3 col-xl-3" *ngFor="let s of semana"
              style="padding-top: 5%; margin-left: 4%">
              <div>
                <img [src]="s.url" /> <br />
                <label style="color: #ffffff">{{s.titulo}}</label><br />
                <label style="color: #BDBDBD">{{s.artista}}</label>
              </div>
            </div>
          </div> -->
          <!-- <div class="row d-flex justify-content-center"  style="width: 90%">
            <div class="col-sm" style="padding-top: 4%;" *ngFor="let s of favoritas">
              <div class="col-sm">
                <iframe style="margin:4%;" [src]="cleanUrl(s.url)" style="width: 100%; height: 100px;" frameborder="0"
                  allowtransparency="true" allow="encrypted-media"></iframe>
                <form class="example-form">
                  <mat-form-field>
                    <mat-label>{{s.titulo}}</mat-label>
                    <input matInput [value]="s.artista" readonly>
                  </mat-form-field>
                </form>
              </div>
            </div>
          </div> -->
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</div>