<div *ngIf="!enviado" class="custom-container">
    <div class="row d-flex justify-content-center">
        <div class="col-12 col-sm-12 col-md-10 col-lg-8 col-xl-6 text-center">
            <form #form="ngForm" [formGroup]="userGroup" (ngSubmit)="recover()" novalidate>
                <div class="box pt-5 pb-5 pr-3 pl-3 pr-md-5 pl-md-5">
                    <h1 class="sections-titles">Reestablece tu contraseña</h1>
                    <p>Enviaremos un correo para restablecer <br>
                        tu contraseña</p>
                    <div class="row d-flex justify-content-center">
                        <div class="col-12 col-sm-12 col-md-8 col-lg-8 col-xl-8">
                            <mat-form-field style="padding-bottom: 20px;">
                                <mat-label>Tu correo electrónico</mat-label>
                                <input matInput type="email" id="txtEmail" formControlName="txtEmail">
                                <mat-error *ngIf="userGroup.invalid">
                                    Ingrese un correo electrónico con formato válido.
                                </mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
                <button type="submit" mat-stroked-button class="button-new">CONFIRMAR</button>
            </form>
        </div>
    </div>
</div>
<div *ngIf="enviado" class="custom-container">
    <div class="row d-flex justify-content-center">
        <div class="col-12 col-sm-12 col-md-10 col-lg-8 col-xl-6 text-center">
            <div class="box pt-5 pb-5 pr-3 pl-3 pr-md-5 pl-md-5" style="margin-bottom: 200px !important;">
                <h1 class="sections-titles">¡Listo!</h1>
                <p>Revisa tu bandeja de entrada en <span>{{email}}</span>, puede tardar varios minutos. <br>
                    Si no has recibido el correo da click <a>aquí.</a></p>
            </div>
        </div>
    </div>
</div>