.box{
    padding: 50px;
    background-color: rgb(16,16,16);
    margin-bottom: 50px;
    font-family: GT-America-Light;
    font-size: 1.05rem;
    h1{
        font-size: 2.2rem !important;
    }
    mat-form-field{
        padding-top: 20px;
        color: #9865ff;
        width: 100%;
    }
    span{
        color: #9865ff;
    }
    a{
        color: #9865ff;
        text-decoration: underline;
        cursor: pointer;
    }
}

form{
    margin-bottom: 100px;
}