<mat-card style="background: rgb(27, 27, 27) !important">
  <mat-card-content>
    <div *ngIf="horario" class="row">
      <p class="primary-color">BEAT</p>
      <p>{{ horario.disciplina.nombre | uppercase }}</p>
    </div>
    <div class="row" style="font-size: 10px; color:grey; padding-bottom: 1%;">
      <div class="col-md-3 col-xs-3 col-3">DIA</div>
      <div class="col-md-3 col-xs-3 col-3">HORA</div>
      <div class="col-md-3 col-xs-3 col-3">COACH</div>
      <div class="col-md-3 col-xs-3 col-3">LUGARES</div>
    </div>
    <mat-divider></mat-divider>
    <div *ngIf="horario" class="row" style="font-size: 14px; padding-top: 2%;">
      <div class="col-md-3 col-xs-3 col-3">{{ horario.fecha | customDate }}</div>
      <div class="col-md-3 col-xs-3 col-3">{{ getHora(horario.fecha) }}</div>
      <div class="col-md-3 col-xs-3 col-3">{{ horario.coach.nombre }}</div>
      <div class="col-md-3 col-xs-3 col-3">
        <div class="col col-md col-sm col-xs" *ngFor="let r of reservaciones; let i = index">
          <b [ngStyle]="{'color' : colors[i]}">{{ r.lugar }}</b> {{ r.nombre }}
        </div>
      </div>
    </div>
    <div *ngIf="cancel" class="row d-flex justify-content-center">
      <button class="cancel-button">Cancelar</button>
    </div>
  </mat-card-content>
</mat-card>
