<div class="container" style="padding-top: 10%;">
    <h1 class="text-center mb-5">Aviso de privacidad</h1>
    <div class="row mt-5 mb-5">
        <div class="col-12 col-md-5">
            <h4>Privacidad y datos personales</h4>
        </div>
        <div class="col-12 col-md-7">
            <h5>Aviso de privacidad 2020Privacidad </h5>
            <p class="pt-2 pb-5">
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diamet nonummy nibh euismod tincidunt
                ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tatin
                ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor
                in hendrerit in vulputate velit esse mos consequat, vel illum dolore eu feugiat nulla facilisis at vero
                eros
                et accu msan et iusto odio dignissim qui blandit praesent luptatum zzril dele augue duis dolore te
            </p>
            <h5>Aviso de datos personales 2020</h5>
            <p class="pt-2 pb-5">
                Lorem ipsum dolor sit amet, cons ectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut
                laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation
                ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet, cons
                adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
                Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip
                ex.
            </p>
            <p>
                Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse moles consequat, vel illum dolore
                eu feu
                nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril
                delenit
                gue duis dolore te feugait nulla facilisi.Lorem ipsum dolor sit.
            </p>
        </div>
    </div>
    <div class="row mt-5 mb-5">
        <div class="col-12 col-md-5">
            <h4>Preguntas frecuentes</h4>
        </div>
        <div class="col-12 col-md-7">
            <h5>Pregunta 1</h5>
            <p class="pt-2 pb-5">
                Lorem ipsum dolor sit amet, consectetuer adipiscing nonummy nibh euismod tincidunt ut laoret dolore maf
                Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse moles
            </p>
            <h5>Pregunta 2</h5>
            <p class="pt-2 pb-5">
                Lorem ipsum dolor sit amet, consectetuer adipiscing nonummy nibh euismod tincidunt ut laoret dolore maf
                Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse moles
            </p>
            <h5>Pregunta 3</h5>
            <p>
                Lorem ipsum dolor sit amet, consectetuer adipiscing nonummy nibh euismod tincidunt ut laoret dolore maf
                Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse moles
            </p>
        </div>
    </div>
</div>