<div class="custom-modal">
    <div class="row d-flex justify-content-end">
        <img class="close" style="width: 20px;" (click)="closeModal()" src="../../../../assets/img/SVG/Cruz.svg">
    </div>
    <div class="row justify-content-center">
        <div class="col-12">
            <h2 class="part1" style="text-align: center;font-family: GT-America-Medium;">
                Cambiar método<br>de pago
            </h2>
        </div>
    </div>
    <div *ngIf="loading" class="row d-flex justify-content-center">
        <div class="spinner-border" role="status"
            style="color: rgb(152, 109, 255) !important; width: 100px; height: 100px;">
            <span class="sr-only">Loading...</span>
        </div>
    </div>

    <div *ngIf="!loading">
        <div class="modal-card" *ngFor="let card of formasPago">
            <div class="row">
                <div class="col-3 d-flex justify-content-center">
                    <img style="height: 35px;width:auto;" *ngIf="card.numero_tarjeta[0] === '5'"
                        src="../../../assets/img/SVG/MasterCard.svg" />
                    <img style="height: 35px;width:auto;" *ngIf="card.numero_tarjeta[0] === '4'"
                        src="../../../assets/img/SVG/Visa.svg" />
                </div>
                <div class="col-5 col-sm-5 col-md-6 col-lg-6 col-xl-6">
                    <div class="card-info">
                        {{card.titular}} <br />
                        {{ card.numero_tarjeta | creditCard }}
                    </div>
                </div>
                <div class="col-1">
                    <mat-divider vertical style="height: 40px;"></mat-divider>
                </div>
                <div class="col-2 col-sm-2 col-md-1 col-lg-1 col-xl-1 custom-radio-button mt-2">
                    <label class="radio-container">
                        <input type="radio" name="radio" [checked]="card.principal" (change)="guardarForma(card)">
                        <span class="checkmark"></span>
                    </label>
                </div>
            </div>
        </div>
    </div>
    <div class="row d-flex justify-content-center part3">
        <button mat-stroked-button class="cancel-button" type="button" (click)="closeModal()"> ACEPTAR
        </button>
    </div>
</div>