<div class="custom-modal">
    <span class="close"  (click)="closeModal()">&times;</span>
    <div class="row justify-content-center">
        <div class="col-12">
            <h2 class="part1" style="text-align: center;font-family: GT-America-Medium;">
                ¿Quieres unirte<br>a la lista de espera?
            </h2>
        </div>
    </div>
    <div class="row d-flex justify-content-center">
        <div class="col-12 text-center">
            <p class="beat-algo"><span>BEAT</span></p>
            <div class="sections-info-text">
                <div>{{horario.coach.nombre}}</div>
                <div>{{castFecha(horario.fecha)}}</div>
                <div>{{formatAMPM(horario.fecha)}}</div>
            </div>
        </div>
    </div>
    <div class="row d-flex justify-content-center part3">
        <button mat-stroked-button class="button-new" type="button"> UNIRME
        </button>
    </div>
</div>