.remove-border-bottom ::ng-deep .mat-tab-header {
  border-bottom: none;
  padding-bottom: 5%;
}

.button-style:hover {
  background: #9865ff !important;
  color: #ffffff !important;
}

.button-style {
  color: #9865ff !important;
}

.wait-list {
  color: red;
  text-decoration: underline;
}

::ng-deep .mat-tab-body-content {
  overflow: hidden !important;
}

.diciple_text {
  font-size: 1.3rem;
}
.title_h2 {
  font-size: 4rem !important;
}
.btn_next {
  padding: 10px !important;
  width: 150px;
}
mat-icon{
  margin-top: -2px;
  margin-right: -10px;
}