<div class="container-fluid">
  <div class="row d-flex justify-content-center">
    <div class="col-sm-8">
      <div style="background: rgb(24, 24, 24) !important; margin-bottom: 5%;" *ngFor="let p of formasPago">
        <div class="row pt-3 pl-3">
          <div class="col-1 col-sm-1 col-md-1 col-lg-1 col-xl-1">
            <mat-radio-button class="pt-2 pl-2" (change)="guardarForma(p)">
            </mat-radio-button>
          </div>
          <div class="col-1 col-sm-1 col-md-1 col-lg-1 col-xl-1">
            <mat-divider vertical style="height: 40px;"></mat-divider>
          </div>
          <div class="col-2 col-sm-2 col-md-2 col-lg-2 col-xl-2">
            <img style="height: 55%;" *ngIf="p.numero_tarjeta[0] === '5'" src="../../../assets/img/master_card.png" />
            <img style="height: 55%;" *ngIf="p.numero_tarjeta[0] === '4'" src="../../../assets/img/visa.png" />
          </div>
          <div class="col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">
            <p class="card-info">
              {{p.titular.toUpperCase()}} <br />
              {{ p.numero_tarjeta | creditCard }}
            </p>
          </div>
          <div class="col-2 col-sm-2 col-md-2 col-lg-2 col-xl-2 pt-2">
            <p class="primary-color" (click)="agregarForma(p)" style="cursor: pointer;">Editar</p>
          </div>
          <div class="col-1 col-sm-1 col-md-1 col-lg-1 col-xl-1 pr-1" (click)="eliminar(p)">
            <mat-icon class="remove-icon" svgIcon="remove"></mat-icon>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-sm-8">
      <mat-divider></mat-divider>
    </div>
  </div>
  <div class="row justify-content-center pt-5 pb-5">
    <div *ngIf="cliente !== null && cliente !== undefined" class="row d-flex justify-content-center primary-color add-new"
      style="cursor: pointer;font-size: 20px;" (click)="agregarForma()">
      <mat-icon style="margin-top: 3px;">add</mat-icon> Agregar otra forma de pago
    </div>
  </div>

</div>