.nuestras{
    margin-top: 10rem;
}
.diciplines{
    .dicipline{
        margin-top: 8%;
        margin-bottom: 8%;
        img{
            width: 100%;
            padding-bottom: 1.5rem;
        }
        h4{
            padding-top: 1.5rem;
        }
        p{
            padding-top: 1.5rem;
        }
        a{
            padding-top: 1.5rem;
        }
        a:hover{
            text-decoration: none;
        }
    }
}

.complementa{
    color: #000000;
    height: 70rem;
    background-image: url(../../../assets/img/Complementa.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    div{
        padding-top: 8rem;
    }
}

@media (max-width: 1120px) {
    .complementa{
        height: 50rem;
        div{
            padding-top: 4rem;
        }
    }
}

@media (max-width: 768px) {
    .complementa{
        height: 44rem;
        div{
            padding-top: 2rem;
        }
    }
}

@media (max-width: 676px) {
    .complementa{
        height: 28rem;
        div{
            padding-top: 0.5rem;
        }
    }
}