<div class="container-fluid" style="padding-top: 10%;">
  <div class="nuestras">
    <div class="row text-center">
      <div class="col-12">
        <h1 class="page-title">Nuestras disciplinas</h1>
      </div>
    </div>
    <div class="row justify-content-center text-center">
      <div class="col-11 col-sm-6 col-md-5 col-lg-4 col-xl-4">
        <p class="sections-info-text">
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
          sed diam nonummy nibh euismod tincidunt ut laoreet.
        </p>
      </div>
    </div>
  </div>
  <div class="row justify-content-center diciplines">
    <div class="col-12 col-sm-6 col-md-6 col-lg-3 col-xl-3 dicipline">
      <img src="../../../assets/img/beat_spin.jpg" alt="">
      <h4 class="beat-algo"><span>BEAT</span>SPIN</h4>
      <p class="sections-info-text">
        Se distingue de otras actividades físicas
        por la incorporación de movimientos clásicos
        del ballet lorem ipsum dolor sit amet, conset
        adipiscing elit, sed ipsum dolor sit amet.
      </p>
      <a href="" [routerLink]="['beatspin']" class="section-see-more">
        Conoce más aquí
      </a>
      <mat-icon svgIcon="white_arrow"></mat-icon>
    </div>
    <div class="col-12 col-sm-6 col-md-6 col-lg-3 col-xl-3 dicipline">
      <img src="../../../assets/img/beat_barre.png" alt="">
      <h4 class="beat-algo"><span>BEAT</span>BARRE</h4>
      <p class="sections-info-text">
        Se distingue de otras actividades físicas
        por la incorporación de movimientos clásicos
        del ballet lorem ipsum dolor sit amet, conset
        adipiscing elit, sed ipsum dolor sit amet.
      </p>
      <a href="" [routerLink]="['beatspin']" class="section-see-more">
        Conoce más aquí
      </a>
      <mat-icon svgIcon="white_arrow"></mat-icon>
    </div>
    <div class="col-12 col-sm-6 col-md-6 col-lg-3 col-xl-3 dicipline">
      <img src="../../../assets/img/beat_yoga.png" alt="">
      <h4 class="beat-algo"><span>BEAT</span>YOGA</h4>
      <p class="sections-info-text">
        Se distingue de otras actividades físicas
        por la incorporación de movimientos clásicos
        del ballet lorem ipsum dolor sit amet, conset
        adipiscing elit, sed ipsum dolor sit amet.
      </p>
      <a href="" [routerLink]="['beatspin']" class="section-see-more">
        Conoce más aquí
      </a>
      <mat-icon svgIcon="white_arrow"></mat-icon>
    </div>
    <div class="col-12 col-sm-6 col-md-6 col-lg-3 col-xl-3 dicipline">
      <img src="../../../assets/img/beat_train.png" alt="">
      <h4 class="beat-algo"><span>BEAT</span>POWER</h4>
      <p class="sections-info-text">
        Se distingue de otras actividades físicas
        por la incorporación de movimientos clásicos
        del ballet lorem ipsum dolor sit amet, conset
        adipiscing elit, sed ipsum dolor sit amet.
      </p>
      <a href="" [routerLink]="['beatspin']" class="section-see-more">
        Conoce más aquí
      </a>
      <mat-icon svgIcon="white_arrow"></mat-icon>
    </div>
  </div>
  <div class="row complementa text-center" style="background-image: url(../../../assets/img/Complementa.jpg);">
    <div class="col-12" style="margin-top: 7%;">
      <div class="row d-flex justify-content-center">
        <div class="col-12">
          <h1 class="page-title" style="color: black !important;">Complementa tu rutina</h1>
        </div>
      </div>
      <div class="row d-flex justify-content-center">
        <div class="col-12 col-sm-12 col-md-8 col-lg-6 col-xl-4">
          <p class="sections-text-info">
            Complementa tu rutina de ejercicio con diferentes disciplinas
            para obtener mejores resultados.
          </p>
        </div>
      </div>
    </div>
  </div>

</div>