<div class="container-fluid" style="padding-top: 10%;">
  <div class="row text-center nuestras">
    <div class="col-12 container">
      <h1>Nuestras disciplinas</h1>
      <p class="mt-5">
        Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
        sed diam nonummy nibh euismod tincidunt ut laoreet.
      </p>
    </div>
  </div>

  <div class="row diciplines">
    <div class="col-md-3 dicipline">
      <img src="../../../assets/img/beat_spin.jpg" alt="">
      <h4><span>BEAT</span>SPIN</h4>
      <p>
        Se distingue de otras actividades físicas
        por la incorporación de movimientos clásicos
        del ballet lorem ipsum dolor sit amet, conset
        adipiscing elit, sed ipsum dolor sit amet.
      </p>
      <a [routerLink]="['beatspin']" class="conoce-mas">
        <h4>Conoce más aquí <mat-icon svgIcon="white_arrow"></mat-icon>
        </h4>
      </a>
    </div>
    <div class="col-md-3 dicipline">
      <img src="../../../assets/img/beat_barre.png" alt="">
      <h4><span>BEAT</span>BARRE</h4>
      <p>
        Se distingue de otras actividades físicas
        por la incorporación de movimientos clásicos
        del ballet lorem ipsum dolor sit amet, conset
        adipiscing elit, sed ipsum dolor sit amet.
      </p>
      <a href="" class="conoce-mas">
        <h4>Conoce más aquí <mat-icon svgIcon="white_arrow"></mat-icon>
        </h4>
      </a>
    </div>
    <div class="col-md-3 dicipline">
      <img src="../../../assets/img/beat_yoga.png" alt="">
      <h4><span>BEAT</span>YOGA</h4>
      <p>
        Se distingue de otras actividades físicas
        por la incorporación de movimientos clásicos
        del ballet lorem ipsum dolor sit amet, conset
        adipiscing elit, sed ipsum dolor sit amet.
      </p>
      <a href="" class="conoce-mas">
        <h4>Conoce más aquí <mat-icon svgIcon="white_arrow"></mat-icon>
        </h4>
      </a>
    </div>
    <div class="col-md-3 dicipline">
      <img src="../../../assets/img/beat_train.png" alt="">
      <h4><span>BEAT</span>POWER</h4>
      <p>
        Se distingue de otras actividades físicas
        por la incorporación de movimientos clásicos
        del ballet lorem ipsum dolor sit amet, conset
        adipiscing elit, sed ipsum dolor sit amet.
      </p>
      <a href="" class="conoce-mas">
        <h4>Conoce más aquí <mat-icon svgIcon="white_arrow"></mat-icon>
        </h4>
      </a>
    </div>
  </div>

  <div class="row complementa text-center" style="background-image: url(../../../assets/img/Complementa.jpg);">
    <div class="col-md-12">
      <h1>Complementa tu rutina</h1>
      <p>
        Complementa tu rutina de ejercicio con diferentes disciplinas
        para obtener mejores resultados.
      </p>
    </div>
  </div>

</div>