.button-style:hover {
text-decoration: underline;
}

.button-style {
  color: #9865ff !important;
}

.wait-list {
  color: red;
  text-decoration: underline;
}

.selected {
  background: #9865ff !important;
  color: #ffffff !important;
  cursor: pointer;
}
