.button-style:hover {
  text-decoration: underline;
}

.button-style {
  color: #9865ff !important;
}

.wait-list {
  font-family: Cedra4FWide;
  color: #ed1c24;
  text-align: center;
  font-size: 14px;
  text-transform: uppercase;
  cursor: pointer;
  span{
    text-decoration: underline;
  }
}
.hour{
  font-family: Cedra4FWide !important;
  text-align: center;
  font-size: 16px;
  text-transform: uppercase;
}
.selected {
  background: #9865ff !important;
  color: #ffffff !important;
  cursor: pointer;
}
.unselected {

  color: #9865ff !important;
  cursor: pointer;
}
.coach-name {
  font-family: GT-America-Medium;
  text-transform: uppercase;
  font-size: 18px;
}

.onMouse:hover {
cursor: pointer;
}

.date-day{
  width: 100%;
  font-family: SharpGroteskSM15R;
  font-size: 24px;
  text-align: center;
  text-transform: uppercase;
}

.date-month{
  width: 100%;
  font-family: GT-America-Regular;
  font-size: 11px;
  text-transform: uppercase;
  text-align: center;
  color: gray;
}

.seven-cols{
  .colu{
    width: 14.285714285714285714285714285714%;
  }
}

@media (max-width: 576px) {
  .seven-cols .colu {
    width: 33.33%;
    *width: 33.33%;
  }
}
@media (min-width: 577px) {
  .seven-cols .colu {
    width: 25%;
    *width: 25%;
  }
}
@media (min-width: 768px) {
  .seven-cols .colu {
    width: 14.285714285714285714285714285714%;
    *width: 14.285714285714285714285714285714%;
  }
}
@media (min-width: 992px) {
  .seven-cols .colu {
    width: 14.285714285714285714285714285714%;
    *width: 14.285714285714285714285714285714%;
  }
}
@media (min-width: 1200px) {
  .seven-cols .colu {
    width: 14.285714285714285714285714285714%;
    *width: 14.285714285714285714285714285714%;
  }
}