// #nav-settings-icon{
//     font-size: 1.4rem;
// }
// .navbar-title{
//     font-size: 2rem;
//     color: #9A9A9A !important;
//     font-weight: bold;
// }
.mat-icon {
  width: 1rem;
  display: inline-flex;
    vertical-align: top;
    margin-top: 2px;
}
a {
  text-decoration: none;
  cursor: pointer;
  font-family: Cedra4FWide; 
  letter-spacing: 1px; 
  font-size: 12px;
}

.navbar-user-button{
  background: #000000;
  border: 0;
  color: #976cff;
  font-family: Cedra4FWide;
}

.navbar-user-button:focus{
  outline: 0;
}

// .register-button {
//   border-color: rgb(152,109,255);
//     color: white;
//     border-style: solid;
//     border-radius: 0;
//     border-width: 2px;
// }

// .link-format {
//   text-decoration: none;
//   color: #ffffff;
// }

// .responsive-format {
// display: inline;
// }

// .menu-margin {
// margin-left: 5em;
// }
// .secciones-margin{
// margin-left: 1.5em;
// }
// @media only screen and(max-width: 1250px){
// .menu-margin {
//   margin-left: 0.5em;
// }
// // .secciones-margin {
// //   padding-left: 0.7em;
// // }
// }
// @media only screen and(max-width: 1170px){
//   .menu-margin {
//     margin-left: 0.2em;
//   }
//   .secciones-margin {
//     margin-left: 0.4em;
//   }
//   }

//   @media only screen and(max-width: 1128px){
//     .menu-margin {
//       margin-left: 0.2em;
//     }
//     .secciones-margin {
//       margin-left: 0.1em;
//     }
//     }
