<nav class="navbar navbar-expand-lg navbar-dark" style="background: #000000;">
  <a class="navbar-brand" href="#">
    <img src="../../../assets/img/logo_blanco.png" />
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02"
    aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse menu-margin col-som" id="navbarTogglerDemo02">
    <!-- class ="mr-auto"-->
    <div class="row">
      <div class="nav-item" style="margin-left: 1em;" *ngFor="let i of sections">
        <div #secciones fxLayout="row"  class="secciones-margin">
          <mat-icon>expand_more</mat-icon><a class="link-format"
            (click)="navigate(i.url)" style="font-family: Cedra4FWide; letter-spacing: 1px; font-size: 13px;padding-top: 2%;">{{i.nombre}}</a>
        </div>
      </div>
    </div>
    <!-- <span fxFlex></span> -->
    <div class="col-sm">
      <div #profile *ngIf="logged" class="d-flex justify-content-end" style="padding-top: 2%;">
        <img src="../../../assets/img/SVG/Usuario(menu)-01.svg" style="height: 35px;cursor:pointer"
          [ngbPopover]="popLogoutContent" autoClose="outside"/>
        <div style="padding-top: 1%; margin-left: 4%; color:#9865ff;font-family: Cedra4FWide; cursor: pointer;" (click)="goToProfile()">
          {{ name }}
        </div>
      </div>
      <form class="form-inline my-2 d-flex justify-content-end" *ngIf="!logged" fxShow="true">
        <button class="btn btn-outline app-button" type="button" [ngbPopover]="popRegisterContent" autoClose="outside">
          CREAR CUENTA
        </button>
        <span style="padding: 2%;"></span>
        <button class="btn btn-outline app-button" type="button" [ngbPopover]="popLoginContent" autoClose="outside"
          >INICIAR SESIÓN</button>
      </form>
    </div>
  </div>
</nav>
<ng-template #popLoginContent>
  <app-login (loginSuccess)="checkLogin($event)"></app-login>
</ng-template>
<ng-template #popLoginTitle><b>Iniciar Sesión</b></ng-template>

<ng-template #popRegisterContent>
  <app-register (registerSuccess)="checkLogin($event)"></app-register>
</ng-template>
<ng-template #popRegisterTitle><b>Registro de usuario</b></ng-template>

<ng-template #popLogoutContent>
  <div class="container-fluid">
    <div class="row text-center" style="font-size: 12px; cursor: pointer; width: 70px;" (click)="logout()"><span>Cerrar sesión</span></div>
  </div>
</ng-template>
<ng-template #popLogoutTitle></ng-template>
