<nav class="navbar navbar-expand-lg navbar-dark" style="background: #000000;">
  <a class="navbar-brand" href="#">
    <img src="../../../assets/img/logo_blanco.png" />
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02"
    aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse menu-margin col-som" id="navbarTogglerDemo02">
    <!-- class ="mr-auto"-->
    <div class="row">
      <div class="nav-item" style="margin-left: 1em;" *ngFor="let i of sections">
        <div #secciones fxLayout="row">
          <mat-icon class="secciones-margin">expand_more</mat-icon><a class="link-format"
            (click)="navigate(i.url)">{{i.nombre}}</a>
        </div>
      </div>
    </div>
    <!-- <span fxFlex></span> -->
    <div class="col-sm">
      <div #profile *ngIf="logged" class="d-flex justify-content-end">
        <mat-icon class="material-icons-outlined" style="padding-top: 2%; cursor: pointer; color:#9865ff;"
          [ngbPopover]="popLogoutContent" autoClose="outside" [popoverTitle]="popLogoutTitle">account_circle</mat-icon>
        <div style="padding-top: 2%; margin-left: 4%; color:#9865ff;">
          {{ name }}
        </div>
      </div>
      <form class="form-inline my-2 d-flex justify-content-end" *ngIf="!logged" fxShow="true">
        <button class="btn btn-outline" type="button" [ngbPopover]="popLoginContent" autoClose="outside"
          [popoverTitle]="popLoginTitle">Iniciar Sesión</button>
        <span style="padding: 2%;"></span>
        <button class="btn btn-outline" type="button" [ngbPopover]="popRegisterContent" autoClose="outside"
          [popoverTitle]="popRegisterTitle">Crear Cuenta</button>
      </form>
    </div>
  </div>
</nav>
<ng-template #popLoginContent>
  <app-login></app-login>
</ng-template>
<ng-template #popLoginTitle><b>Iniciar Sesión</b></ng-template>

<ng-template #popRegisterContent>
  <app-register></app-register>
</ng-template>
<ng-template #popRegisterTitle><b>Registro de usuario</b></ng-template>

<ng-template #popLogoutContent>
  <app-view>
    <button class="btn btn-outline" style="font-size: 12px;" (click)="logout()">Salir</button>
  </app-view>
</ng-template>
<ng-template #popLogoutTitle></ng-template>
