<div class="sidebar-wrapper">
  <div class="logo">
    <a href="#" class="simple-text logo-normal">
      <div class="row">
        <div class="col-12 text-center">
          <i class="material-icons">account_circle</i>
         <!-- <i class="nc-icon nc-circle-10"></i> -->
        </div>
      </div>
      <div class="row">
        <div class="col-12 text-center nav-username">
          {{ userName }}
        </div>
      </div>
      <div class="row">
        <div class="col-12 text-center">
          <small>{{ roleName }}</small>
        </div>
      </div>
    </a>
  </div>
  <ul class="nav">
    <li *ngFor="let menuItem of menuItems" routerLinkActive="active" class="{{menuItem.class}}">
<!--
        <a  *ngIf="validatepermison(menuItem.level,menuItem.name)" [routerLink]="[menuItem.path]">
          <i class="nc-icon {{menuItem.icon}}"></i>
          <p>{{menuItem.title}}</p>
        </a> -->

    </li>
  </ul>
</div>
