<div class="exitoso text-center custom-container">
    <div class="row d-flex justify-content-center pb-3">
        <div class="col-11">
            <h5 class="beat-algo" style="font-size: 1rem !important;"><span>¡LISTO!</span></h5>
        </div>
    </div>
    <div class="row d-flex justify-content-center pb-3">
        <div class="col-11">
            <h1 class="sections-titles">Tu registro fue exitoso</h1>
        </div>
    </div>
    <div class="row d-flex justify-content-center pb-5">
        <div class="col-11">
            <p class="sections-info-text pb-5">Hemos enviado un correo de confirmación a {{email}}</p>
        </div>
    </div>
</div>