<form #form="ngForm" [formGroup]="userGroup" (ngSubmit)="doLogin()" novalidate>
  <h5 style="padding-bottom: 25px;"><b>Iniciar sesión</b></h5>
  <mat-form-field style="padding-bottom: 20px;">
    <mat-label>Tu correo electrónico</mat-label>
    <input matInput type="email" id="txtEmail" formControlName="txtEmail">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Tu contraseña</mat-label>
    <input matInput type="password" id="txtPassword" formControlName="txtPassword">
  </mat-form-field>
  <div style="margin-bottom: 30px;">
    <!-- <a (click)="goToRecover()">¿Olvidaste tu contraseña?</a> -->
  </div>
  <button type="submit" class="button-black">ENTRAR</button>
</form>
<!-- <ng-template #popResetContent>
  <div class="container-fluid">
    <p>Escribe tu correo electrónico y te enviaremos instrucciones para recuperar tu contraseña.</p>
    <form novalidate>
      <mat-form-field>
        <mat-label>Tu correo electrónico</mat-label>
        <input matInput type="email" id="txtReset">
      </mat-form-field>
      <button class="button-black">ENVIAR</button>
    </form>
  </div>
</ng-template>
<ng-template #popResetTitle>Recuperar contraseña</ng-template> -->