<div *ngIf="!enviado" class="custom-container">
    <div class="row d-flex justify-content-center">
        <div class="col-12 col-sm-12 col-md-10 col-lg-8 col-xl-6 text-center">
            <form #form="ngForm" [formGroup]="userGroup" (ngSubmit)="recover()">
                <div class="box">
                    <h1 class="sections-titles">Reestablece tu contraseña</h1>
                    <div class="row d-flex justify-content-center">
                        <div class="col-12 col-sm-12 col-md-11 col-lg-11 col-xl-11">
                            <mat-form-field style="padding-bottom: 20px;">
                                <mat-label>Nueva contraseña</mat-label>
                                <input matInput type="password" formControlName="password" (keyup)="validatePassword()"
                                    (focusout)="validatePassword()">
                                <span *ngIf="!password.errors?.pattern" id="security_level"
                                    style="position: absolute;left: calc(100% - 205px); text-align: right; width: 200px;">
                                    {{passwordSecurity}}</span>
                                <mat-error *ngIf="password.errors?.pattern">
                                    La contraseña debe estar compuesta por letras (Mayúsculas y minúsculas), números o
                                    puntos.
                                </mat-error>
                            </mat-form-field>
                            <mat-form-field style="padding-bottom: 20px;">
                                <mat-label>Confirma tu contraseña</mat-label>
                                <input matInput type="password" formControlName="passwordConfirmation"
                                    [errorStateMatcher]="matcher">
                                <mat-error *ngIf="userGroup.hasError('notSame')">
                                    Las contraseñas deben coincidir.
                                </mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
                <button type="submit" mat-stroked-button class="button-new">CONFIRMAR</button>
            </form>
        </div>
    </div>
</div>
<div *ngIf="enviado" class="custom-container">
    <div class="row d-flex justify-content-center">
        <div class="col-12 col-sm-12 col-md-10 col-lg-8 col-xl-6 text-center">
            <div class="box" style="margin-bottom: 200px !important;">
                <h1 class="sections-titles">¡Tu contraseña se ha <br> restablecido con éxito!</h1>
                <p>Para continuar da click <a>aquí.</a></p>
            </div>
        </div>
    </div>
</div>