<div class="custom-container">
  <div class="header text-center">
    <h1 class="page-title">Our coaches</h1>
    <p class="sections-info-text">
      Creemos que nuestros entrenadores pueden convertir cualquier entrenamiento <br>
      en una experiencia inolvidable. Conoce los diferentes estilos y atrévete <br>
      a vivir la experiencia Beat Studio con cada uno de ellos.
    </p>
  </div>
  <div class="row d-flex justify-content-center coaches">
    <div class="coach-card" *ngFor="let c of coaches; let i = index">
      <div class="coach">
        <div class="coach-container">
          <img [src]="c.url" />
          <div class="hide-info">
            <span class="coach-info-titles">FRASE FAVORITA</span>
            <div class="coach-info-text">{{c.frase}}</div>
            <span class="coach-info-titles">COACH EN</span>
            <div class="coach-info-text">{{c.disciplinas}}</div>
            <span class="coach-info-titles">MOVIMIENTO FAVORITO</span>
            <div class="coach-info-text">{{c.movimiento}}</div>
          </div>
        </div>
        <div class="divider">
          <mat-divider></mat-divider>
          <span>COACH</span>
        </div>
        <div class="coach-name-music">
          <div class="coach-name">{{c.nombre}}</div>
          <div class="coach-music">
            <mat-icon svgIcon="music_note"></mat-icon>{{c.musica}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>