
.mat-form-field-underline {
  display: none;
}

.front-image {
cursor: pointer;
  width: 100%;
  transition: width 1s;
}
@mixin md-icon-size($size: 24px) {
  font-size: $size;
  height: $size;
  width: $size;
  line-height: $size;
  margin-top: -8px;
}

mat-icon {
  @include md-icon-size(32px);
  margin-right: 10px;
}

.coach-info-titles {
  font-family: GT-America-Regular;
  letter-spacing: 1px;
  color: #8b8a8a;
}

.coach-info-text {
  font-family: GT-America-Thin;
  color: #ffffff;
  letter-spacing: -1px;
  font-size: 18px;
  margin-bottom: 20px;
}

.coach-name-music {
  color: #ffffff;

  .coach-name {
    font-family: GT-America-Light;
    font-size: 24px;
    letter-spacing: -1px;
  }

  .coach-music {
    padding-top: 5px;
    font-family: GT-America-Light;
    font-size: 16px;
  }
}


.coaches {
  margin: 40px 10px 40px 10px;

  .coach-card {
    width: 33.33%;
  }

  .coach {
    margin: 40px 30px 40px 30px;

    img {
      height: 100%;
      width: 100%;
      z-index: 1;
      -webkit-transition: all 500ms;
      -moz-transition: all 500ms;
      -o-transition: all 500ms;
      transition: all 500ms;
    }

    .divider {
      margin-top: 10px;
      mat-divider {
        border-top-color:#ffffff;
        margin-bottom: 15px;
      }

      span {
        font-family: Cedra4FWide;
        letter-spacing: 2px;
        font-size: 11px;
        color: rgb(128, 128, 128);
      }
    }

    .hide-info {
      position: absolute;
      opacity: 0;
      top: 55%;
      z-index: -1;
      -webkit-transition: opacity 500ms;
      -moz-transition: opacity 500ms;
      -o-transition: opacity 500ms;
      transition: opacity 500ms;

      span {
        font-size: 10px;
      }

      p {
        font-family: GT-America-Thin;
        font-size: 18px;
        padding-bottom: 10px;
      }
    }
  }

  .coach div:first-child {
    position: relative
  }

  .coach div:nth-child(3) {
    color: #ffffff;
    -webkit-transition: all 500ms;
    -moz-transition: all 500ms;
    -o-transition: all 500ms;
    transition: all 500ms;
  }

  .coach mat-divider {
    width: 0;
    -webkit-transition: width 500ms;
    -moz-transition: width 500ms;
    -o-transition: width 500ms;
    transition: width 500ms;
  }

  .coach:hover {
    img {
      height: 50%;
      width: 50%;
    }

    .hide-info {
      opacity: 1;
    }

    .coach-name-music {
      color: #9865ff;
    }

    mat-divider {
      width: 100%;
    }
  }
}



.coach-container {
  height: 500px;
}

@media (max-width: 1200px) {
  .coach-container {
    height: 400px;
  }
}

@media (max-width: 1100px) {
  .coach-info-text {
    margin-bottom: 0;
  }

  .coach-container {
    height: 350px;

    .coach {
      .hide-info {
        top: 50%;
      }
    }
  }
}

@media (max-width: 992px) {
  .coach-info-text {
    margin-bottom: 20px;
  }

  .coaches {
    .coach-card {
      width: 50%;

      .coach {
        .hide-info {
          top: 55%;
        }
      }
    }
  }

  .coach-container {
    height: 500px;
  }
}

@media (max-width: 850px) {
  .coach-info-text {
    margin-bottom: 0;
  }

  .coach-container {
    height: 420px;

    .coach {
      .hide-info {
        top: 50%;
      }
    }
  }
}

@media (max-width: 768px) {
  .coach-info-text {
    margin-bottom: 0;
  }

  .coach-container {
    height: 350px;

    .coach {
      .hide-info {
        top: 50%;
      }
    }
  }
}

@media (max-width: 576px) {
  .coach-info-text {
    margin-bottom: 20px;
  }

  .coaches {
    .coach-card {
      width: 100%;

      .coach {
        .hide-info {
          top: 55%;
        }
      }
    }
  }

  .coach-container {
    height: 500px;
  }
}

@media (max-width: 400px) {
  .coach-info-text {
    margin-bottom: 10px;
  }

  .coaches {
    .coach-card {
      width: 100%;

      .coach {
        margin: 20px 0 20px 0;

        .hide-info {
          top: 50%;
        }
      }
    }
  }

  .coach-container {
    height: 420px;
  }
}