
::ng-deep .mat-form-field-underline {
  display: none;
}

.front-image {
cursor: pointer;
  width: 100%;
  transition: width 1s;
}
@mixin md-icon-size($size: 24px) {
  font-size: $size;
  height: $size;
  width: $size;
  line-height: $size;
  margin-top: -8px;
}
mat-icon{
  @include md-icon-size(32px);
}
// .front-image:hover{
//   width: 40%;
//   height: 50%;
// }

.img-size {
  cursor: pointer;
  width: 50%;
  transition: width 500ms;
}

.divider-class-hide {
  display: none;
}

.divider-class-show {
  border-color: #BDBDBD !important;
  border-top-width: 2px !important;
  padding-bottom: 1% !important;
}

.coach-info-titles{
  font-family: GT-America-Regular;
  letter-spacing: 1px;
  color: #8b8a8a;
}

.coach-info-text{
  font-family: GT-America-Light;
  color: #ffffff;
}

.coach-name-music{
  color: #ffffff;
}

.coach{
}


.coach img{
  width: 100%;
  position:absolute;
  z-index: 1;
  -webkit-transition: width 500ms;
       -moz-transition: width 500ms;
         -o-transition: width 500ms;
            transition: width 500ms;
}
.coach div:first-child{
  position:relative
}

.coach div:nth-child(2){
  position: absolute;
  z-index: -1;
  top: 53%;
  opacity: 0;
  -webkit-transition: opacity 500ms;
  -moz-transition: opacity 500ms;
    -o-transition: opacity 500ms;
       transition: opacity 500ms;
       span{
            font-size: 10px;
          }
          p{
            font-family: GT-America-Thin;
            font-size: 18px;
            padding-bottom: 10px;
          }
}

.coach div:nth-child(3){
  color: #ffffff;
  -webkit-transition: all 500ms;
  -moz-transition: all 500ms;
    -o-transition: all 500ms;
       transition: all 500ms;
}

.coach mat-divider{
  width: 0;
  -webkit-transition: width 500ms;
  -moz-transition: width 500ms;
    -o-transition: width 500ms;
       transition: width 500ms;
}

.coach:hover{
  img{
    width: 50%;
  }
  // div:first-child{
  //   span{
  //     font-size: 11px;
  //   }
  //   p{
  //     font-size: 18px;
  //     padding-bottom: 10px;
  //   }
  // }
  div:nth-child(2){
    opacity: 100%;
  }
  div:nth-child(3){
    p{
      color: #9865ff;
    }
  }
  mat-divider{
    width: 100%;
  }
}

.coach-container{
  height: 510px;
}