
::ng-deep .mat-form-field-underline {
  display: none;
}

.front-image {
cursor: pointer;
  width: 100%;
  transition: width 1s;
}

// .front-image:hover{
//   width: 40%;
//   height: 50%;
// }

.img-size {
  cursor: pointer;
  width: 50%;
  transition: width 500ms;
}

.divider-class-hide {
  display: none;
}

.divider-class-show {
  border-color: #BDBDBD !important;
  border-top-width: 2px !important;
  padding-bottom: 1% !important;
}

.coach-info-hide{
  font-size: 0px;
  transition:font-size 500ms;
     -moz-transition:font-size 500ms; /* Firefox 4 */
     -webkit-transition:font-size 500ms; /* Safari and Chrome */
     -o-transition:font-size 500ms;
}


.coach-info-show{
  font-size: 14px;
  transition:font-size 500ms;
     -moz-transition:font-size 500ms; /* Firefox 4 */
     -webkit-transition:font-size 500ms; /* Safari and Chrome */
     -o-transition:font-size 500ms;
}


.coach-info-titles{
  font-family: GT-America-Regular;
  letter-spacing: 1px;
  color: #8b8a8a;
}

.coach-info-text{
  font-family: GT-America-Light;
  color: #ffffff;
}

.coach-name-music{
  color: #ffffff;
}

.coach{
}

.coach img{
  width: 100%;
  -webkit-transition: width 500ms;
       -moz-transition: width 500ms;
         -o-transition: width 500ms;
            transition: width 500ms;
}

.coach div:first-child{
  span{
    font-size: 0;
  -webkit-transition: font-size 500ms;
  -moz-transition: font-size 500ms;
    -o-transition: font-size 500ms;
       transition: font-size 500ms;
  }
  p{
    font-size: 0;
  -webkit-transition: font-size 500ms;
  -moz-transition: font-size 500ms;
    -o-transition: font-size 500ms;
       transition: font-size 500ms;
  }
}

.coach mat-divider{
  width: 0;
}

.coach:hover{
  img{
    width: 50%;
  }
  div:first-child{
    span{
      font-size: 12px;
    }
    p{
      font-size: 20px;
    }
  }
  div:nth-child(4){
    p{
      color: #9865ff;
    }
  }
  mat-divider{
    width: 100%;
  }
}