<div class="container-fluid" style="padding-top: 10%; padding-bottom: 5%;">
  <div class="row ">
    <div class="col-12 col-sm-12 col-md-12 col-xl-12 d-flex justify-content-center text-center">
      <h1 class="sections-titles">Nuestros coaches</h1>
    </div>
  </div>
  <div class="row  d-flex justify-content-center">
    <div class="col-10 col-sm-10 col-md-4 col-xl-4">
      <p class="sections-info-text" style="text-align: center;">Lorem ipsum dolor sit amet, consectetuer adipiscing
        elit,
        sed diam nonummy nibh euismod tincidunt ut laoreet dolore</p>
    </div>
  </div>
  <div class="row d-flex justify-content-center">
    <div class="col-10 col-sm-10 col-md-4 col-xl-4" style="padding-left: 3%; padding-right: 3%;"
      *ngFor="let c of coaches; let i = index">
      <div (mouseenter)="showDetails(i)" (mouseleave)="hideDetails(i)">
        <img [id]="i" [src]="c.url" class="front-image"/>
        <div id="{{i+'coachInfo'}}" class="coach-info-hide" style="padding-left: 3%;padding-top: 20px;">
          <div class="row" style="padding-bottom: 2%;">
            <mat-form-field>
              <mat-label>FRASE FAVORITA</mat-label>
              <input matInput [value]="c.frase" disabled />
            </mat-form-field>
          </div>
          <div class="row" style="padding-bottom: 2%;">
            <mat-form-field>
              <mat-label>COACH EN</mat-label>
              <input matInput [value]="c.disciplinas" disabled />
            </mat-form-field>
          </div>
          <div class="row" style="padding-bottom: 2%;">
            <mat-form-field>
              <mat-label>MOVIMIENTO FAVORITO</mat-label>
              <input matInput [value]="c.movimiento" disabled />
            </mat-form-field>
          </div>
        </div>
        <mat-divider id="{{i +'divider'}}" class="divider-class-hide"></mat-divider>
        <div class="row" [formGroup]="group">
          <mat-form-field style="margin-left: 3%;">
            <mat-label>COACH</mat-label>
            <input id="{{i + 'name'}}" style="color: #9865ff;" formControlName="{{i + 'name'}}" matInput disabled />
          </mat-form-field>
        </div>
        <div class="row" [formGroup]="group">
          <mat-icon svgIcon="music_note"></mat-icon>
          <mat-form-field style="margin-left: 3%;top: -2%;">
            <input id="{{i + 'music'}}" style="color: #9865ff;" formControlName="{{i + 'music'}}" matInput disabled />
          </mat-form-field>
        </div>
      </div>
    </div>
  </div>
</div>