<div class="custom-container">
  <div class="row d-flex justify-content-center">
    <h1 class="page-title">{{nombre}}</h1>
  </div>
  <div class="row d-flex justify-content-center">
    <p class="sections-info-text">
      Miembro desde {{created_on | date: "yyyy"}}
    </p>
  </div>
  <div class="row d-flex justify-content-center" style="padding-top: 40px; padding-bottom: 40px;">
    <div class="col-12 d-flex justify-content-center">
      <h1 class="primary-color" style="font-family: GT-America-Thin;font-size: 3rem !important;text-align: center;letter-spacing: -2px;"><span style="color:white">Créditos disponibles:</span> {{ creditos }}</h1>
    </div>
  </div>
  <div class="row d-flex justify-content-center">
    <button class="button-new mr-4" (click)="goToBooking()" mat-stroked-button>RESERVAR</button>
    <button class="button-new" mat-stroked-button (click)="goToBuy()">COMPRAR</button>
  </div>
  <div class="row justify-content-center" style="padding-top: 5%; padding-bottom: 5%;">
    <div class="col-12 col-sm-12 col-md-10 col-lg-8 col-xl-8">
      <mat-tab-group mat-stretch-tabs mat-align-tabs="center" class="remove-border-bottom" [selectedIndex]="index">
        <mat-tab>
          <ng-template mat-tab-label>
            <p class="primary-color tab">Mi perfil</p>
          </ng-template>
          <app-view>
            <div style="padding-top: 5%;" class="d-flex justify-content-center">
              <h3 class="table-title">Mi Perfil</h3>
            </div>
            <app-profile (recorded)="clienteId($event)" style="padding:5%"></app-profile>
          </app-view>
        </mat-tab>
        <mat-tab>
          <ng-template mat-tab-label>
            <p class="primary-color tab">Historial de clases</p>
          </ng-template>
          <app-view>
            <div style="padding-top: 5%; padding-bottom: 5%;" class="d-flex justify-content-center">
              <h3 class="table-title">Reservaciones Agendadas</h3>
            </div>
            <div class="pb-5">
              <app-booking-history [idCliente]="cliente.id"></app-booking-history>
            </div>
          </app-view>
        </mat-tab>
        <mat-tab>
          <ng-template mat-tab-label>
            <p class="primary-color tab">Historial de Pagos</p>
          </ng-template>
          <app-view>
            <div style="padding-top: 5%; padding-bottom: 5%;" class="d-flex justify-content-center">
              <h3 class="table-title">Mis pagos</h3>
            </div>
            <div class="pb-5">
              <app-payment-history [idCliente]="cliente.id"></app-payment-history>
            </div>
          </app-view>
        </mat-tab>
        <mat-tab>
          <ng-template mat-tab-label>
            <p class="primary-color tab">Mis métodos de pago</p>
          </ng-template>
          <app-view>
            <div style="padding-top: 5%; padding-bottom: 5%;" class="d-flex justify-content-center">
              <h3 class="table-title">Mis Métodos de pago</h3>
            </div>
            <app-payment></app-payment>
          </app-view>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</div>
