.remove-border-bottom ::ng-deep .mat-tab-header {
  border-bottom: none;
  padding-bottom: 5%;
}
.table-title{
  font-family: GT-America-Medium;
  font-size: 1.2rem;
}

.tab{
  font-family: GT-America-Regular;
  font-size: 1rem;
  margin: 10px;
}