<div class="custom-container">
    <div class="row d-flex justify-content-center text-center beatspin-title">
        <div class="col-12">
            <h5 class="over-title"><span>NUESTRAS DISCIPLINAS:</span></h5>
            <h1 class="page-title"><span>Beat</span>Spin</h1>
        </div>
        <div class="col-12 col-sm-10 col-md-6 col-lg-4 col-xl-4">
            <p class="mt-3 sections-info-text">
                Entrenamiento de 45 minutos intensos para conectar <br>
                tu cuerpo, recargar tu alma y unirte al ritmo de la música. <br>
                Contagia tu energía dentro del salón, piérdete y supera tus límites
            </p>
        </div>
    </div>
    <div class="row d-flex justify-content-center beatspin-video">
        <div class="col-12 col-sm-12 col-md-11 col-lg-11 col-xl-11 video">
            <img src="../../../assets/img/new-images/BeatSpin/BeatSpin_Principal.jpg" alt="">
            <!-- <img class="play-button" src="../../../assets/img/SVG/Play_video grande.svg" /> -->
        </div>
    </div>
    <div class="row d-flex justify-content-center benefits" style="padding-bottom: 5%;">
        <div class="row d-flex justify-content-center benefits" >
        <div class="col-11 col-sm-11 col-md-10 col-lg-5 col-xl-5 text-part">
            <h1 class="sections-titles">
                Beneficios
            </h1>
            <p class="mt-4 sections-info-text">
                Gana condición y resiste la adversidad, <br>
                un latido a la vez.
            </p>
            <ul class="list-group mt-4 sections-info-text">
                <li class="list-group-item"><span>+</span> Fuerza</li>
                <li class="list-group-item"><span>+</span> Flexibilidad</li>
                <li class="list-group-item"><span>+</span> Stamina</li>
            </ul>
        </div>
        <div class="col-12 col-sm-12 col-md-10 col-lg-6 col-xl-6">
            <img src="../../../assets/img/new-images/BeatSpin/BeatSpin_Secundaria.jpg" class="benefits-img" />
        </div>
    </div>

    <!-- <div class="row complements">
        <div class="col-12 text-center mb-4">
            <h1 class="sections-titles">
                Puedes complementar <br>
                Beatspin con:
            </h1>
        </div>
    </div>
    <div class="row d-flex justify-content-center text-center" style="padding-bottom: 15%;">
        <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
            <img src="../../../assets/img/power_spin_circle.png" style="width: 85%;">
            <div class="row d-flex justify-content-center text-center mt-4">
                <div class="col-12 col-sm-10 col-md-8 col-lg-6 col-xl-6">
                    <p class="sections-info-text">
                        Ideal para hacer músculo y para los entusiastas del cardio.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-1"></div>
        <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
            <img src="../../../assets/img/barre_spin_circle.png" style="width: 85%;">
            <div class="row d-flex justify-content-center text-center mt-4">
                <div class="col-12 col-sm-10 col-md-8 col-lg-6 col-xl-6">
                    <p class="sections-info-text">
                        La combinación perfecta para encontrar el pulso y balance adecuado.
                    </p>
                </div>
            </div>
        </div>
    </div> -->
</div>