/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
/* @import '@angular/material/prebuilt-themes/deeppurple-amber.css'; */
// @import "./custom-theme.scss";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.fixed-bar {
  // position: fixed;
  width: 100%;
}

// html {
//   scroll-behavior: smooth;
// }

.popover-header {
  background: #000000 !important;
}

.popover-body {
  background: #000000;
}

.app-background {
  background: #000000;
}

.register-button {
  border-color: rgb(152, 109, 255);
  color: white;
  border-style: solid;
  border-radius: 0;
  border-width: 2px;
}

.app-button {
  background: #9865ff;
  color: #ffffff;
  border-style: solid;
  border-radius: 0;
  border-width: 2px;
}

button {
  background: #000000 !important;
  border-color: rgb(152, 109, 255) !important;
  color: #ffffff !important;
  border-style: solid !important;
  border-radius: 0 !important;
  border-width: 2px !important;
}

button:hover {
  background: #9865ff !important;
  color: #ffffff !important;
}

.primary-color {
  color:  #9865ff;
}

mat-expansion-panel {
  background: rgb(26, 26, 26) !important;
}
mat-expansion-panel-header {
  background: rgb(26, 26, 26) !important;
}
mat-panel-description {
  background: rgb(26,26,26) !important;
}
mat-accordion{
  background: rgb(26,26,26) !important;
}
// mat-card{
//   background: rgb(16,16,16) !important;
// }
// .mat-divider {
//   margin-left: 10.78em !important;
//     width: 53.6em !important;
// }
