/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
/* @import '@angular/material/prebuilt-themes/deeppurple-amber.css'; */
// @import "./custom-theme.scss";

html,
body {
  height: 100%;
  max-width: 100%;
    overflow-x: hidden;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.fixed-bar {
  // position: fixed;
  width: 100%;
}

// html {
//   scroll-behavior: smooth;
// }
// .popover{
// }

// .popover-header {
// }

// .popover-body {
// }

// .app-background {
// }

.register-button {
  border-color: rgb(152, 109, 255);
  color: white;
  border-style: solid;
  border-radius: 0;
  border-width: 2px;
}

// .app-button {
//   background: #9865ff;
//   color: #ffffff;
//   border-style: solid;
//   border-radius: 0;
//   border-width: 2px;
// }

.app-button {
  background: #000000 !important;
  border-color: rgb(152, 109, 255) !important;
  color: #ffffff !important;
  border-style: solid !important;
  border-radius: 0 !important;
  border-width: 2px !important;
  font-family: Cedra4FWide !important;
}

.app-button:hover {
  background: #9865ff !important;
  color: #ffffff !important;
}

.primary-color {
  color: #9865ff;
}

mat-expansion-panel {
  background: rgb(26, 26, 26) !important;
}
mat-expansion-panel-header {
  background: rgb(26, 26, 26) !important;
}
mat-panel-description {
  background: rgb(26, 26, 26) !important;
}
mat-accordion {
  background: rgb(26, 26, 26) !important;
}
// mat-card{
//   background: rgb(16,16,16) !important;
// }
// .mat-divider {
//   margin-left: 10.78em !important;
//     width: 53.6em !important;
// }

@font-face {
  font-family: "Cedra4F-Wide";
  src: url("assets/fonts/Cedra\ 4F/Cedra4F-Wide.otf") format("opentype");
}

@font-face {
  font-family: "Cedra4F-WideItalic";
  src: url("assets/fonts/Cedra\ 4F/Cedra4F-WideItalic.otf") format("opentype");
}

.mat-slide-toggle.mat-checked .mat-slide-toggle-bar {
  background-color: rgb(152, 109, 255) !important;
  width: 31px !important;
  height: 14px !important;
}

.mat-slide-toggle.mat-checked .mat-slide-toggle-thumb {
  background-color: #ffffff !important;
  width: 15px !important;
  height: 15px !important;
}

.mat-slide-toggle-thumb-container {
  position: absolute;
  z-index: 1;
  width: 20px;
  height: 20px;
  top: -1px !important;
  left: 0;
  transform: translate3d(0, 0, 0);
  transition: all 80ms linear;
  transition-property: transform;
}

.mat-slide-toggle-bar,
.mat-slide-toggle-thumb {
  transition: all 80ms linear;
  transition-property: background-color;
  transition-delay: 50ms;
  background-color: #ffffff !important;
}

.mat-slide-toggle-thumb {
  width: 15px !important;
  height: 15px !important;
  border-radius: 50%;
  background-color: #986dff !important;
}

mat-slide-toggle-bar {
  position: relative;
  width: 28px !important;
  height: 13px !important;
  flex-shrink: 0;
  border-radius: 8px;
}

@font-face {
  font-family: SharpSans-Semibold;
  src: url('./assets/fonts/Sharp\ Sans\ No.1/Sharp\ Sans\ No1\ -\ Semibold.otf');
}
@font-face {
  font-family: SharpSans-Medium;
  src: url('./assets/fonts/Sharp\ Sans\ No.1/Sharp\ Sans\ No1\ -\ Medium.otf');
}

@font-face {
  font-family: GT-America-Light;
  src: url('./assets/fonts/GT\ America/GT-America-Light.otf');
}

@font-face {
  font-family: GT-America-Regular;
  src: url('./assets/fonts/GT\ America/GT-America-Regular.otf');
}

@font-face {
  font-family: GT-America-Medium;
  src: url('./assets/fonts/GT\ America/GT-America-Medium.otf');
}

@font-face {
  font-family: GT-America-Thin;
  src: url('./assets/fonts/GT\ America/GT-America-Thin.otf');
}

@font-face {
  font-family: Cedra4FWide;
  src: url('./assets/fonts/Cedra\ 4F/Cedra4F-Wide.otf');
}

@font-face {
  font-family: SharpGroteskSM15R;
  src: url('./assets/fonts/SharpGrotesk/Semibold/SharpGroteskSmBold15-Regular.ttf');
}

.page-title{
  font-family: SharpSans-Semibold;
  font-size: 4.8rem;
  padding-bottom: 24px;
}
.sections-text{
  font-family: GT-America-Thin;
  font-size: 1.1rem;
  color: #ffffff
}
.sections-titles{
  font-family: SharpSans-Semibold;
  font-size: 4rem;
  padding-bottom: 24px;
}
.sections-info-text{
  font-family: GT-America-Thin;
  font-size: 1.1rem;
  color: #9c9999;
}
.section-see-more{
  font-family: GT-America-Medium;
}

.button-new{
  background-color: #000000 !important;
  font-family: Cedra4FWide !important;
  color: #ffffff !important;
  letter-spacing: 1px !important;
  font-size: 14px !important;
  padding-left: 40px !important;
  padding-right: 40px !important;
  padding-bottom: 8px !important;
  padding-top: 8px !important;
  border-radius: 0px !important;
  border: 2px solid #976cff !important;
  -webkit-transition: background-color 500ms;
  -moz-transition: background-color 500ms;
  -o-transition: background-color 500ms;
  -ms-transition: background-color 500ms;
  transition: background-color 500ms;
}

.button-new:hover{
  background-color: #976cff !important;
}

.button-new-purple{
  background-color: #d8d8d8 !important;
  font-family: Cedra4FWide !important;
  color: #000000 !important;
  letter-spacing: 1px !important;
  font-size: 14px !important;
  padding-left: 40px !important;
  padding-right: 40px !important;
  padding-bottom: 8px !important;
  padding-top: 8px !important;
  border-radius: 0px !important;
  border: 2px solid #976cff !important;
  -webkit-transition: background-color 500ms;
  -moz-transition: background-color 500ms;
  -o-transition: background-color 500ms;
  -ms-transition: background-color 500ms;
  transition: background-color 500ms;
}

.button-new-purple:hover{
  background-color: #976cff !important;
  color: #ffffff !important;
}

.button-black{
  width: 100%;
  padding: 10px 0;
  letter-spacing: 1px;
  background-color: black;
  color:white;
  border:0;
  font-family: Cedra4FWide;
  -webkit-transition: background-color 500ms;
-moz-transition: background-color 500ms;
-o-transition: background-color 500ms;
-ms-transition: background-color 500ms;
transition: background-color 500ms;
}
.button-black:hover{
  background-color: #1d1d1d;
}