<mat-card style="background: rgb(24, 24, 24) !important;">
  <div class="pay-header">
    <div class="row pt-3 pl-3">
      <div class="col-12">
        <p>{{getFecha() | customDate}}</p>
      </div>
    </div>
    <div class="row pt-2 pl-3 pr-3" *ngIf="compra !== undefined && compra !== null">
      <div class="col-12 d-flex justify-content-between">
        <h1>{{compra.paquete.tipo === 'ilimitado' ? 'Ilimitados' : compra.paquete.creditos}} {{ compra.paquete.tipo === 'ilimitado' ? '' : 'Créditos' }}</h1>
        <span class="primary-color pt-3">MEX {{compra.total | currency}}</span>
      </div>
    </div>
  </div>
  <div class="row justify-content-center pt-2">
    <div class="col-11">
      <mat-divider></mat-divider>
    </div>
  </div>
  <div class="pay-footer">
    <div class="row pt-4 pl-3 pr-3">
      <div class="col-12 d-flex justify-content-between">
        <div>
          <span>NOMBRE DE CUENTA: </span><span *ngIf="compra.forma_pago">{{compra.forma_pago.titular}}</span>
        </div>
        <div *ngIf="compra !== undefined && compra !== null">
          <span>TOTAL: MEX </span>{{compra.total | currency}}
        </div>
      </div>
    </div>
    <div class="row pl-3">
      <div class="col-12">
        <span>FORMA DE PAGO: </span>{{getFormaPago()}}
      </div>
    </div>
    <div class="row pl-3 pb-5" *ngIf="compra !== undefined && compra !== null">
      <div class="col-12">
        <span>FOLIO: </span>{{compra.folio}}
      </div>
    </div>
  </div>
</mat-card>