<div class="container fluid" style="padding-top: 10%">
  <div class="row d-flex justify-content-center">
    <div class="col-12 col-sm-11 col-md-10 col-lg-7 col-xl-6 d-flex justify-content-center">
      <h2 class="sections-titles">Compra créditos</h2>
    </div>
  </div>
  <div class="row d-flex justify-content-center mb-5">
    <div class="col-12 col-sm-11 col-md-10 col-lg-7 col-xl-6 d-flex justify-content-center">
      <p class="sections-info-text">Los créditos se usan para reservar clases.</p>
    </div>
  </div>
  <div class="row d-flex justify-content-center pt-5">
    <div class="col-12">
      <div class="row">
        <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-2" *ngFor="let p of paquetes">
          <mat-card class="mb-3" style="background: rgb(24, 24, 24)">
            <div class="row d-flex justify-content-center pt-3" style="height: 100px;" *ngIf="p.creditos > 0; else elseDiv">
              <div class="col-12">
                <div class="credits">{{ p.creditos }}</div>
                <div class="pack-name" *ngIf="p.creditos === 1">Crédito</div>
                <div class="pack-name" *ngIf="p.creditos > 1">Créditos</div>
              </div>
            </div>
            <ng-template #elseDiv>
              <div class="row d-flex justify-content-center pt-4" style="height: 100px;">
                <div class="col-12 pt-4">
                  <div class="pack-name">
                    Online
                  </div>
                  <div class="pack-name">
                    Workout
                  </div>
                </div>
              </div>
            </ng-template>
            <div class="row d-flex justify-content-center">
              <div class="col-12">
                <p class="pack-price pt-4">MXN {{ p.precio }}</p>
              </div>
            </div>
            <div class="row d-flex justify-content-center pt-5">
              <div class="col-12">
                <p class="pack-desc">{{ p.descripcion }}</p>
                <p class="pack-desc">Vigencia de {{ p.vigenciaDias }} dias</p>
              </div>
            </div>
            <div class="row d-flex justify-content-center mb-2">
              <button mat-stroked-button class="button-new-inverted"
                style="font-size: 11px !important;padding-left: 20px !important; padding-right: 20px !important;"
                (click)="comprarPaquete(p)">COMPRAR</button>
            </div>
          </mat-card>
        </div>
      </div>
    </div>
  </div>
  <div class="row d-flex justify-content-center" style="padding: 5%">
    <button mat-stroked-button class="button-new" (click)="regresar()"> &lt; REGRESAR</button>
  </div>
</div>