.icon-color {
  filter: hue-rotate(258deg) saturate(100%) brightness(71.4%);
}

.footer-title{
  font-family: GT-America-Medium;
  padding-bottom: 40px;
  font-size: 17px;
}

.footer-text{
  font-family: GT-America-Regular;
  width: 100%;
}

.footer-info{
  font-family: Cedra4FWide;
  letter-spacing: 1px;
  font-size: 14px;
}

.footer-info-beat{
  color:rgb(152, 109, 255);
  font-size: 14px;
}

.link{
  font-family: GT-America-Regular;
  width: 100%;
}

.link:hover{
  cursor: pointer;
}

@media only screen and(max-width: 750px) {
  .footer-text {
    font-size: 12px;
  }
}