<footer class="footer" style="background: #ffffff; color: #000000;">
  <div class="container-fluid">
    <div fxLayout="column" fxFlex="100%">
      <div fxLayout="row" fxFlex="100%" style=" padding-top: 5%;">
        <img style="margin-left: 5%; height: 2em; width: 10em;" src="../../../assets/img/logo_negro.png" />
        <span fxFlex></span>
        <b>Contáctanos en redes sociales</b>
        <img style="width: 1em; height: 1em; margin-left: 2%;" class="icon-color"
          src="../../../assets/img/twitter.png" />
        <img style="width: 1em; height: 1em; margin-left: 2%;" class="icon-color"
          src="../../../assets/img/instagram.png" />
        <img style="width: 0.6em; height: 1em; margin-left: 2%;" class="icon-color"
          src="../../../assets/img/facebook.png" />
        <img style="width: 1em; height: 1em; margin-left: 2%;" class="icon-color"
          src="../../../assets/img/whatsapp.png" />
      </div>
      <div fxLayout="row" fxFlex="100%" style="padding-top: 10%; margin: 4%" fxLayoutAlign="space-between center">
        <div>
          <p><b>Servicio al cliente</b></p>
          Envíanos un correo a <a href="">hola@beatstudio.mx</a><br />
          Llámanos a <u>81 83 06 0543</u><br />
          Lunes a viernes: 9:00 am — 6:00 pm
        </div>
        <div>
          <p><b>Conócenos</b></p>
          Coaches<br />
          Workout<br />
          Instalaciones y equipo<br />
        </div>
        <div>
          <p><b>Servicio al cliente</b></p>
          Publicidad<br />
          Preguntas frecuentes<br />
          Terminos y condiciones<br />
        </div>
        <div fxLayout="column">
          <p><b>Certificaciones</b></p>
          <div fxLayout="row"></div>
        </div>
      </div>
      <mat-divider style="color:#000000; background: #000000; margin: 4%;"></mat-divider>
      <div fxLayout="row">
        <p style="margin-left: 4%;">Copyright 2020 BeatStudio. Todos los derechos reservados.</p>
        <span fxFlex></span>
        <p class="primary-color"><b>BEAT</b></p>
        <p style="margin-right: 5%;"><b>SPIN</b></p>
        <p class="primary-color"><b>BEAT</b></p>
        <p style="margin-right: 5%;"><b>BARRE</b></p>
        <p class="primary-color"><b>BEAT</b></p>
        <p style="margin-right: 5%;"><b>YOGA</b></p>
        <p class="primary-color"><b>BEAT</b></p>
        <p style="margin-right: 4%;"><b>TRAIN</b></p>
      </div>
    </div>
  </div>
</footer>
