<div style="background: #ffffff; color: #000000;" #footer>
  <div class="container-fluid">
    <div class="row justify-content-between" style="padding-left:2%;padding-right:2%;">
      <div class="col-6 col-sm-12 col-md-4 col-xl-4" style="padding-top: 5%;padding-bottom: 5%;">
        <img style="width: 100%;max-width: 180px;" src="../../../assets/img/SVG/BeatStudio_Logo-01_negro.svg" />
      </div>
      <div class="col-6 col-lg-4 mt-2 mt-md-0" style="padding-top: 5%;">
        <div class="row d-flex" [ngClass]="(footer.clientWidth>575)?'justify-content-between':'justify-content-center'"
          style="padding-bottom: 10%;">
          <div class="col-12 col-sm-12 col-md-8 col-xl-8" style="padding-bottom: 5%;" *ngIf="footer.clientWidth>575">
            <b class="footer-title" style="font-size: 18px;">Contáctanos en redes sociales</b>
          </div>
          <div class="col-11 col-sm-11 col-md-4 col-xl-4 d-flex justify-content-between">
            <a>
              <img style="width: 1em; height: 1em;" class="icon-color" src="../../../assets/img/twitter.png" />
            </a>
            <a href="https://www.instagram.com/beatstudiomx/" target="_blank"><img style="width: 1em; height: 1em;"
                class="icon-color" src="../../../assets/img/instagram.png" /></a>
            <a href="https://www.facebook.com/BeatStudio.com.mx" target="_blank">
              <img style="width: 0.6em; height: 1em;" class="icon-color" src="../../../assets/img/facebook.png" />
            </a>
            <a href="https://wa.me/526622154609" target="_blank">
              <img style="width: 1em; height: 1em;" class="icon-color" src="../../../assets/img/whatsapp.png" />
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="row" style="padding-left:2%;padding-right:2%;">
      <div class="col-12 col-sm-12 col-md-3 col-xl-3" style="padding-top: 5%;padding-bottom: 3%;">
        <div class="footer-title">
          <b>Servicio al cliente</b><br>
        </div>
        <label class="footer-text">Envíanos un correo a contacto@beatstudio.com.mx</label>
        <label class="footer-text">Llámanos a 662 215 4609</label>
        <label class="footer-text">Lunes a viernes: 6:00 AM - 11:00 AM y 4:00 PM a 8:00 PM</label>
      </div>
      <div class="col-6 col-sm-6 col-md-3 col-xl-3" style="padding-top: 5%;padding-bottom: 3%;">
        <div class="footer-title">
          <b>Conócenos</b><br>
        </div>
        <label class="link footer-text" (click)="goTo('')">Inicio</label>
        <label class="link footer-text" (click)="goTo('about')">About</label>
        <label class="link footer-text" (click)="goTo('disciplines')">Clases</label>
        <label class="link footer-text" (click)="goTo('coaches')">Coaches</label>
        <label class="link footer-text" (click)="goTo('contact')">Contacto</label>
      </div>
      <div class="col-6 col-sm-6 col-md-3 col-xl-3" style="padding-top: 5%;padding-bottom: 3%;">
        <div class="footer-title">
          <b>Políticas de uso</b><br>
        </div>
        <label class="link footer-text" (click)="goTo('privacy')">Aviso de privacidad</label>
        <!-- <label class="footer-text">Preguntas frecuentes</label>
        <label class="footer-text">Términos y condiciones</label> -->
      </div>
      <div class="col-12 col-sm-12 col-md-3 col-xl-3" style="padding-top: 5%;padding-bottom: 3%;">

        <div class="footer-title">
          <b>Certificaciones</b><br>
        </div>
        <div class="row">
          <div class="col-4 col-sm-4 col-md-4 col-xl-4">
            <img src="../../../assets/img/SVG/Visa.svg" />
          </div>
          <div class="col-4 col-sm-4 col-md-4 col-xl-4">
            <img src="../../../assets/img/SVG/MasterCard.svg" />
          </div>
          <div class="col-4 col-sm-4 col-md-4 col-xl-4">
            <img src="../../../assets/img/SVG/PayPal.svg" />
          </div>
        </div>
      </div>
    </div>
    <div class="row" style="padding-left:2%;padding-right:2%;">
      <div class="col-12 col-sm-12 col-md-6 col-xl-6" style="padding-top: 5%;padding-bottom: 3%;">
        <p style="font-family: SharpSans-Medium; color: darkgrey;">&#169; Copyright 2020 BeatStudio. Todos los derechos
          reservados.</p>
      </div>
      <div class="col-12 col-sm-12 col-md-6 col-xl-6" style="padding-top: 5%;padding-bottom: 3%;">
        <div class="row">
          <div class="col-6 col-sm-6 col-md-3 col-xl-3">
            <span class="footer-info">><span class="footer-info-beat">BEAT</span>SPIN</span>
          </div>
          <div class="col-6 col-sm-6 col-md-3 col-xl-3">
            <span class="footer-info">><span class="footer-info-beat">BEAT</span>BARRE</span>
          </div>
          <div class="col-6 col-sm-6 col-md-3 col-xl-3">
            <span class="footer-info">><span class="footer-info-beat">BEAT</span>YOGA</span>
          </div>
          <div class="col-6 col-sm-6 col-md-3 col-xl-3">
            <span class="footer-info">><span class="footer-info-beat">BEAT</span>TRAIN</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>