<div style="background: #ffffff; color: #000000;">
  <div class="container-fluid">
    <div class="row" style="padding-left:2%;padding-right:2%;">
      <div class="col-12 col-sm-12 col-md-4 col-xl-4" style="padding-top: 5%;padding-bottom: 5%;">
        <img style="height: 2em; width: 10em;" src="../../../assets/img/logo_negro.png" />
      </div>
      <div class="col-12 col-sm-12 col-md-4 col-xl-4">
      </div>
      <div class="col-12 col-sm-12 col-md-4 col-xl-4" style="padding-top: 5%;">
        <div class="row" style="padding-bottom: 10%;">
          <div class="col-12 col-sm-12 col-md-8 col-xl-8" style="padding-bottom: 5%;">
            <b class="footer-title" style="font-size: 18px;">Contáctanos en redes sociales</b>
          </div>
          <div class="col-11 col-sm-11 col-md-4 col-xl-4">
            <div class="row">
              <div class="col-2 col-sm-2 col-md-3 col-xl-3">
                <img style="width: 1em; height: 1em; margin-left: 2%;" class="icon-color"
                  src="../../../assets/img/twitter.png" />
              </div>
              <div class="col-2 col-sm-2 col-md-3 col-xl-3">
                <img style="width: 1em; height: 1em; margin-left: 2%;" class="icon-color"
                  src="../../../assets/img/instagram.png" />
              </div>
              <div class="col-2 col-sm-2 col-md-3 col-xl-3">
                <img style="width: 0.6em; height: 1em; margin-left: 2%;" class="icon-color"
                  src="../../../assets/img/facebook.png" />
              </div>
              <div class="col-2 col-sm-2 col-md-3 col-xl-3">
                <img style="width: 1em; height: 1em; margin-left: 2%;" class="icon-color"
                  src="../../../assets/img/whatsapp.png" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row" style="padding-left:2%;padding-right:2%;">
      <div class="col-12 col-sm-12 col-md-3 col-xl-3" style="padding-top: 5%;padding-bottom: 3%;">
        <div class="footer-title">
          <b>Servicio al cliente</b><br>
        </div>
        <label class="footer-text">Envíanos un correo a hola@beatstudio.mx</label>
        <label class="footer-text">Llámanos a 81 83 06 0543</label>
        <label class="footer-text">Lunes a viernes: 9:00 am - 6:00 pm</label>
      </div>
      <div class="col-12 col-sm-12 col-md-3 col-xl-3" style="padding-top: 5%;padding-bottom: 3%;">
        <div class="footer-title">
          <b>Conócenos</b><br>
        </div>
        <label class="footer-text">Coaches</label>
        <label class="footer-text">Workout</label>
        <label class="footer-text">Instalación y equipo</label>
      </div>
      <div class="col-12 col-sm-12 col-md-3 col-xl-3" style="padding-top: 5%;padding-bottom: 3%;">
        <div class="footer-title">
          <b>Servicio al cliente</b><br>
        </div>
        <label class="footer-text">Política de privacidad</label>
        <label class="footer-text">Preguntas frecuentes</label>
        <label class="footer-text">Términos y condiciones</label>
      </div>
      <div class="col-12 col-sm-12 col-md-3 col-xl-3" style="padding-top: 5%;padding-bottom: 3%;">

        <div class="footer-title">
          <b>Certificaciones</b><br>
        </div>
        <div class="row">
          <div class="col-3 col-sm-3 col-md-3 col-xl-3">
            <img src="../../../assets/img/master_card.png" />
          </div>
          <div class="col-3 col-sm-3 col-md-3 col-xl-3">
            <img src="../../../assets/img/master_card.png" />
          </div>
          <div class="col-3 col-sm-3 col-md-3 col-xl-3">
            <img src="../../../assets/img/master_card.png" />
          </div>
        </div>
      </div>
    </div>
    <div class="row" style="padding-left:2%;padding-right:2%;">
      <div class="col-12 col-sm-12 col-md-6 col-xl-6" style="padding-top: 5%;padding-bottom: 3%;">
        <p style="font-family: SharpSans-Medium;">Copyright 2020 BeatStudio. Todos los derechos reservados</p>
      </div>
      <div class="col-12 col-sm-12 col-md-6 col-xl-6" style="padding-top: 5%;padding-bottom: 3%;">
        <div class="row">
          <div class="col-4 col-sm-4 col-md-3 col-xl-3">
            <span class="footer-info">><span class="footer-info-beat">BEAT</span>SPIN</span>
          </div>
          <div class="col-4 col-sm-4 col-md-3 col-xl-3">
            <span class="footer-info">><span class="footer-info-beat">BEAT</span>BARRE</span>
          </div>
          <div class="col-4 col-sm-4 col-md-3 col-xl-3">
            <span class="footer-info">><span class="footer-info-beat">BEAT</span>YOGA</span>
          </div>
          <div class="col-4 col-sm-4 col-md-3 col-xl-3">
            <span class="footer-info">><span class="footer-info-beat">BEAT</span>TRAIN</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>